In [5]:
import argparse
import logging
import os
import time
import shutil
import numpy as np
import pandas as pd
import sys
import pickle
sys.path.append('/home/ubuntu/BayesCard')
from DataPrepare.join_data_preparation import prepare_sample_hdf
from DataPrepare.prepare_single_tables import prepare_all_tables
from Schemas.imdb.schema import gen_job_light_imdb_schema
from DataPrepare.schemas import gen_DB0_schema

In [2]:
table_csv_path = '/home/ubuntu/data_CE/imdb/{}.csv'
schema = gen_job_light_imdb_schema(table_csv_path)

In [4]:
df_rows = pd.read_csv('/home/ubuntu/data_CE/imdb/title.csv', header=None, escapechar='\\', encoding='utf-8',
                              quotechar='"',
                              sep=",")

/home/ubuntu/miniconda3/envs/skyscraper/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3229: DtypeWarning: Columns (5,10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
df_rows.head(5)

,0,1,2,3,4,5,6,7,8,9,10,11
0,80889,(#1.66),NaN,7,1980.0,NaN,NaN,80815.0,1.0,66.0,NaN,4de45f35edf0b753c54ab72dcbe68bb5
1,5156,Josie Duggar's 1st Shoes,NaN,7,2010.0,NaN,J2326,5022.0,4.0,13.0,NaN,8d492850166137b550ceb0e9a5b46086
2,197772,(#2.8),NaN,7,1962.0,NaN,NaN,197751.0,2.0,8.0,NaN,152b0f7213dd467760823b0d6387a6ec
3,111913,(2012-09-13),NaN,7,2012.0,NaN,NaN,111095.0,NaN,NaN,NaN,daf144630ef1ab1cd5d1d028b406cdcf
4,117556,(#1.1042),NaN,7,NaN,NaN,NaN,117506.0,1.0,1042.0,NaN,be62adfea75e456d47ddab5c68ac96b0

In [7]:
len(df_rows.columns)

12

In [10]:
sys.path.append("/home/ubuntu/BayesCard")
schema = gen_job_light_imdb_schema('/home/ubuntu/data_CE/imdb/{}.csv')
ensemble_location = "/home/ubuntu/BayesCard/Benchmark/IMDB/"
from DataPrepare.query_prepare_BayesCard import prepare_join_queries
query_filename = "/home/ubuntu/BayesCard/Benchmark/IMDB/job-light.sql"
parsed_queries, true = prepare_join_queries(schema, ensemble_location, pairwise_rdc_path=None, 
                                            query_filename=query_filename, true_card_exist=True)

In [7]:
from Models.BN_ensemble_model import BN_ensemble
def load_ensemble(schema, model_path=ensemble_location):
    bn_ensemble = BN_ensemble(schema)
    for file in os.listdir(model_path):
        if file.endswith(".pkl"):
            print(file)
            with open(model_path+file, "rb") as f:
                bn = pickle.load(f)
                bn.infer_algo = "exact-jit"
                bn.init_inference_method()
            bn_ensemble.bns.append(bn)
            #bn_ensemble.bns[int(file[0])] = bn
    return bn_ensemble
bn_ensemble = load_ensemble(schema)
#with open(query_filename, "rb") as f:
 #   real_query = f.readlines()
#queries = bn_ensemble.parse_query_all(parsed_queries)

3_chow-liu_1.pkl
4_chow-liu_1.pkl
2_chow-liu_1.pkl
0_chow-liu_1.pkl
1_chow-liu_1.pkl

In [11]:
with open(query_filename, "rb") as f:
    real_query = f.readlines()
queries = bn_ensemble.parse_query_all(parsed_queries)

In [12]:
latency = []
q_errors = []
for i, q in enumerate(queries):
    tic = time.time()
    try:
        pred = bn_ensemble.cardinality(q)
    except:
        print(f"query {i} is invalid!!!!!!!!!!!!!!!!!!!!!!!!!!!")
        # this query itself is invalid or it is not recognizable by the learnt BN
        continue
    latency.append(time.time() - tic)
    if pred is None or pred <= 1:
        pred = 1
    error = max(pred / true[i], true[i] / pred)
    print(f"predicting query no {i}: {real_query[i]} \n")
    print(f"true cardinality {true[i]}, predicted {pred} with q-error {error}")
    q_errors.append(error)
print("=====================================================================================")
for i in [50, 90, 95, 99, 100]:
    print(f"q-error {i}% percentile is {np.percentile(q_errors, i)}")
print(f"average latency is {np.mean(latency)*1000} ms")

predicting query no 0: b'SELECT COUNT(*) FROM movie_companies mc,title t,movie_info_idx mi_idx WHERE t.id=mc.movie_id AND t.id=mi_idx.movie_id AND mi_idx.info_type_id=112 AND mc.company_type_id=2||715\n'

true cardinality 715, predicted 3536.0838012929016 with q-error 4.945571750060003
predicting query no 1: b'SELECT COUNT(*) FROM movie_companies mc,title t,movie_info_idx mi_idx WHERE t.id=mc.movie_id AND t.id=mi_idx.movie_id AND mi_idx.info_type_id=113 AND mc.company_type_id=2 AND t.production_year>2005 AND t.production_year<2010||9\n'

true cardinality 9, predicted 19.90215698738552 with q-error 2.211350776376169
predicting query no 2: b'SELECT COUNT(*) FROM movie_companies mc,title t,movie_info_idx mi_idx WHERE t.id=mc.movie_id AND t.id=mi_idx.movie_id AND mi_idx.info_type_id=112 AND mc.company_type_id=2 AND t.production_year>2010||47\n'

true cardinality 47, predicted 161.0907814841737 with q-error 3.427463435833483
predicting query no 3: b'SELECT COUNT(*) FROM movie_companies mc,title t,movie_info_idx mi_idx WHERE t.id=mc.movie_id AND t.id=mi_idx.movie_id AND mi_idx.info_type_id=113 AND mc.company_type_id=2 AND t.production_year>2000||16\n'

true cardinality 16, predicted 62.866469516442784 with q-error 3.929154344777674
predicting query no 4: b'SELECT COUNT(*) FROM movie_companies mc,title t,movie_keyword mk WHERE t.id=mc.movie_id AND t.id=mk.movie_id AND mk.keyword_id=117||148552\n'

true cardinality 148552, predicted 86119.8509112056 with q-error 1.724944927658612
predicting query no 5: b'SELECT COUNT(*) FROM title t,movie_info mi,movie_keyword mk WHERE t.id=mi.movie_id AND t.id=mk.movie_id AND t.production_year>2005||62682311\n'

true cardinality 62682311, predicted 59253467.546501786 with q-error 1.0578673889558832
predicting query no 6: b'SELECT COUNT(*) FROM title t,movie_info mi,movie_keyword mk WHERE t.id=mi.movie_id AND t.id=mk.movie_id AND t.production_year>2010||11990578\n'

true cardinality 11990578, predicted 14259014.620221239 with q-error 1.1891849267167303
predicting query no 7: b'SELECT COUNT(*) FROM title t,movie_info mi,movie_keyword mk WHERE t.id=mi.movie_id AND t.id=mk.movie_id AND t.production_year>1990||157041640\n'

true cardinality 157041640, predicted 155541857.41851085 with q-error 1.0096423085488413
predicting query no 8: b'SELECT COUNT(*) FROM title t,movie_info_idx mi_idx,movie_keyword mk WHERE t.id=mi_idx.movie_id AND t.id=mk.movie_id AND t.production_year>2005 AND mi_idx.info_type_id=101||850677\n'

true cardinality 850677, predicted 894439.0253027345 with q-error 1.05144376220673
predicting query no 9: b'SELECT COUNT(*) FROM title t,movie_info_idx mi_idx,movie_keyword mk WHERE t.id=mi_idx.movie_id AND t.id=mk.movie_id AND t.production_year>2010 AND mi_idx.info_type_id=101||179616\n'

true cardinality 179616, predicted 237098.79192778326 with q-error 1.3200315780764702
predicting query no 10: b'SELECT COUNT(*) FROM title t,movie_info_idx mi_idx,movie_keyword mk WHERE t.id=mi_idx.movie_id AND t.id=mk.movie_id AND t.production_year>1990 AND mi_idx.info_type_id=101||2031666\n'

true cardinality 2031666, predicted 1913835.6179291513 with q-error 1.061567660757796
predicting query no 11: b'SELECT COUNT(*) FROM title t,movie_info mi,movie_companies mc WHERE t.id=mi.movie_id AND t.id=mc.movie_id AND t.production_year>2005 AND mc.company_type_id=2||6333736\n'

true cardinality 6333736, predicted 6431829.728369648 with q-error 1.0154874987479188
predicting query no 12: b'SELECT COUNT(*) FROM title t,movie_info mi,movie_companies mc WHERE t.id=mi.movie_id AND t.id=mc.movie_id AND t.production_year>2010 AND mc.company_type_id=2||1931628\n'

true cardinality 1931628, predicted 1908793.3526711015 with q-error 1.0119628703112071
predicting query no 13: b'SELECT COUNT(*) FROM title t,movie_info mi,movie_companies mc WHERE t.id=mi.movie_id AND t.id=mc.movie_id AND t.production_year>1990 AND mc.company_type_id=2||12738520\n'

true cardinality 12738520, predicted 13016636.296763625 with q-error 1.0218327008760535
predicting query no 14: b'SELECT COUNT(*) FROM movie_keyword mk,title t,cast_info ci WHERE t.id=mk.movie_id AND t.id=ci.movie_id AND t.production_year>2010 AND mk.keyword_id=8200||1224\n'

true cardinality 1224, predicted 2879.1790021613283 with q-error 2.3522704266023924
predicting query no 15: b'SELECT COUNT(*) FROM movie_keyword mk,title t,cast_info ci WHERE t.id=mk.movie_id AND t.id=ci.movie_id AND t.production_year>2014||13221\n'

true cardinality 13221, predicted 21122.586095424125 with q-error 1.597654193739061
predicting query no 16: b'SELECT COUNT(*) FROM movie_keyword mk,title t,cast_info ci WHERE t.id=mk.movie_id AND t.id=ci.movie_id AND t.production_year>2014 AND mk.keyword_id=8200||33\n'

true cardinality 33, predicted 4.536636077921559 with q-error 7.274112234966578
predicting query no 17: b'SELECT COUNT(*) FROM movie_keyword mk,title t,cast_info ci WHERE t.id=mk.movie_id AND t.id=ci.movie_id AND t.production_year>2000 AND mk.keyword_id=8200||1224\n'

true cardinality 1224, predicted 22391.45540155445 with q-error 18.293672713688274
predicting query no 18: b'SELECT COUNT(*) FROM movie_keyword mk,title t,cast_info ci WHERE t.id=mk.movie_id AND t.id=ci.movie_id AND t.production_year>2000||114182642\n'

true cardinality 114182642, predicted 93577465.89663091 with q-error 1.2201937817607746
predicting query no 19: b'SELECT COUNT(*) FROM cast_info ci,title t WHERE t.id=ci.movie_id AND t.production_year>1980 AND t.production_year<1995||4533382\n'

true cardinality 4533382, predicted 4544188.789543279 with q-error 1.002383825043484
predicting query no 20: b'SELECT COUNT(*) FROM cast_info ci,title t WHERE t.id=ci.movie_id AND t.production_year>1980 AND t.production_year<1984||695701\n'

true cardinality 695701, predicted 698067.8660800884 with q-error 1.0034021312030432
predicting query no 21: b'SELECT COUNT(*) FROM cast_info ci,title t WHERE t.id=ci.movie_id AND t.production_year>1980 AND t.production_year<2010||21454165\n'

true cardinality 21454165, predicted 21496143.2148242 with q-error 1.0019566464052179
predicting query no 22: b'SELECT COUNT(*) FROM cast_info ci,title t,movie_companies mc WHERE t.id=ci.movie_id AND t.id=mc.movie_id AND ci.role_id=2||13355828\n'

true cardinality 13355828, predicted 15509584.943933075 with q-error 1.1612597095390174
predicting query no 23: b'SELECT COUNT(*) FROM cast_info ci,title t,movie_companies mc WHERE t.id=ci.movie_id AND t.id=mc.movie_id AND ci.role_id=4||4450853\n'

true cardinality 4450853, predicted 4817367.609304148 with q-error 1.0823470488250562
predicting query no 24: b'SELECT COUNT(*) FROM cast_info ci,title t,movie_companies mc WHERE t.id=ci.movie_id AND t.id=mc.movie_id AND ci.role_id=7||794591\n'

true cardinality 794591, predicted 620454.4946033641 with q-error 1.2806595921397192
predicting query no 25: b'SELECT COUNT(*) FROM cast_info ci,title t,movie_companies mc WHERE t.id=ci.movie_id AND t.id=mc.movie_id AND t.production_year>2005 AND t.production_year<2015 AND ci.role_id=2||4893440\n'

true cardinality 4893440, predicted 5636442.0322627565 with q-error 1.1518363425857385
predicting query no 26: b'SELECT COUNT(*) FROM cast_info ci,title t,movie_companies mc WHERE t.id=ci.movie_id AND t.id=mc.movie_id AND t.production_year>2007 AND t.production_year<2010 AND ci.role_id=2||1381288\n'

true cardinality 1381288, predicted 1584489.404159811 with q-error 1.1471100915665748
predicting query no 27: b'SELECT COUNT(*) FROM title t,cast_info ci,movie_companies mc WHERE t.id=mc.movie_id AND t.id=ci.movie_id AND t.production_year>2005 AND ci.role_id=1||8720023\n'

true cardinality 8720023, predicted 9889038.883769158 with q-error 1.1340611009591555
predicting query no 28: b'SELECT COUNT(*) FROM title t,cast_info ci,movie_companies mc WHERE t.id=mc.movie_id AND t.id=ci.movie_id AND t.production_year>2010 AND ci.role_id=1||2873214\n'

true cardinality 2873214, predicted 3204456.368768615 with q-error 1.1152863548516105
predicting query no 29: b'SELECT COUNT(*) FROM title t,cast_info ci,movie_companies mc WHERE t.id=mc.movie_id AND t.id=ci.movie_id AND t.production_year>1990||56965403\n'

true cardinality 56965403, predicted 55801245.50713472 with q-error 1.0208625718348245
predicting query no 30: b'SELECT COUNT(*) FROM title t,movie_keyword mk,movie_companies mc WHERE t.id=mk.movie_id AND t.id=mc.movie_id AND mk.keyword_id=398 AND mc.company_type_id=2 AND t.production_year>1950 AND t.production_year<2000||7153\n'

true cardinality 7153, predicted 9613.25259836169 with q-error 1.3439469590887307
predicting query no 31: b'SELECT COUNT(*) FROM title t,movie_keyword mk,movie_companies mc WHERE t.id=mk.movie_id AND t.id=mc.movie_id AND mk.keyword_id=398 AND mc.company_type_id=2||14102\n'

true cardinality 14102, predicted 23086.61416090998 with q-error 1.6371163069713501
predicting query no 32: b'SELECT COUNT(*) FROM title t,movie_keyword mk,movie_companies mc WHERE t.id=mk.movie_id AND t.id=mc.movie_id AND t.production_year>1950||31339132\n'

true cardinality 31339132, predicted 30858517.872453734 with q-error 1.0155747638150596
predicting query no 33: b'SELECT COUNT(*) FROM title t,movie_info mi,movie_info_idx mi_idx,movie_companies mc WHERE t.id=mi.movie_id AND t.id=mi_idx.movie_id AND t.id=mc.movie_id AND mi_idx.info_type_id=101 AND mi.info_type_id=3 AND t.production_year>2005 AND t.production_year<2008 AND mc.company_type_id=2||75440\n'

true cardinality 75440, predicted 227408.91393049367 with q-error 3.0144341719312524
predicting query no 34: b'SELECT COUNT(*) FROM title t,movie_info mi,movie_info_idx mi_idx,movie_companies mc WHERE t.id=mi.movie_id AND t.id=mi_idx.movie_id AND t.id=mc.movie_id AND mi_idx.info_type_id=113 AND mi.info_type_id=105||72\n'

true cardinality 72, predicted [901.61536569] with q-error [12.52243563]
predicting query no 35: b'SELECT COUNT(*) FROM title t,movie_info mi,movie_info_idx mi_idx,movie_companies mc WHERE t.id=mi.movie_id AND t.id=mi_idx.movie_id AND t.id=mc.movie_id AND mi_idx.info_type_id=101 AND mi.info_type_id=3 AND t.production_year>2000 AND t.production_year<2010 AND mc.company_type_id=2||305691\n'

true cardinality 305691, predicted 970810.0727833023 with q-error 3.175788861246495
predicting query no 36: b'SELECT COUNT(*) FROM title t,movie_info mi,movie_companies mc,movie_info_idx mi_idx WHERE t.id=mi.movie_id AND t.id=mc.movie_id AND t.id=mi_idx.movie_id AND t.kind_id=1 AND mc.company_type_id=2 AND mi_idx.info_type_id=101 AND mi.info_type_id=16||1919495\n'

true cardinality 1919495, predicted 3654423.6387546887 with q-error 1.9038463964504668

predicting query no 37: b'SELECT COUNT(*) FROM title t,movie_info mi,movie_info_idx mi_idx,movie_keyword mk WHERE t.id=mi.movie_id AND t.id=mk.movie_id AND t.id=mi_idx.movie_id AND t.production_year>2010 AND t.kind_id=1 AND mi.info_type_id=8 AND mi_idx.info_type_id=101||150780\n'

true cardinality 150780, predicted 978596.7461906449 with q-error 6.490229116531668
predicting query no 38: b'SELECT COUNT(*) FROM title t,movie_info mi,movie_info_idx mi_idx,movie_keyword mk WHERE t.id=mi.movie_id AND t.id=mk.movie_id AND t.id=mi_idx.movie_id AND t.kind_id=1 AND mi.info_type_id=8 AND mi_idx.info_type_id=101||3243247\n'

true cardinality 3243247, predicted 15118380.63300502 with q-error 4.6614952956111635
predicting query no 39: b'SELECT COUNT(*) FROM title t,movie_info mi,movie_info_idx mi_idx,movie_keyword mk WHERE t.id=mi.movie_id AND t.id=mk.movie_id AND t.id=mi_idx.movie_id AND t.production_year>2005 AND mi.info_type_id=8 AND mi_idx.info_type_id=101||1043763\n'

true cardinality 1043763, predicted 5031307.93171001 with q-error 4.820354746920527
predicting query no 40: b'SELECT COUNT(*) FROM title t,movie_info mi,movie_companies mc,movie_keyword mk WHERE t.id=mi.movie_id AND t.id=mk.movie_id AND t.id=mc.movie_id AND mi.info_type_id=16 AND t.production_year>2000||512575801\n'

true cardinality 512575801, predicted 275523412.1798441 with q-error 1.860371127610104
predicting query no 41: b'SELECT COUNT(*) FROM title t,movie_info mi,movie_companies mc,movie_keyword mk WHERE t.id=mi.movie_id AND t.id=mk.movie_id AND t.id=mc.movie_id AND mi.info_type_id=16 AND t.production_year>2005 AND t.production_year<2010||206778521\n'

true cardinality 206778521, predicted 95668304.44519408 with q-error 2.1614109521347076
predicting query no 42: b'SELECT COUNT(*) FROM title t,movie_info mi,movie_companies mc,movie_keyword mk WHERE t.id=mi.movie_id AND t.id=mk.movie_id AND t.id=mc.movie_id AND mi.info_type_id=16 AND t.production_year>1990||625302823\n'

true cardinality 625302823, predicted 421231378.686912 with q-error 1.4844640134579525
predicting query no 43: b'SELECT COUNT(*) FROM cast_info ci,title t,movie_keyword mk,movie_companies mc WHERE t.id=ci.movie_id AND t.id=mk.movie_id AND t.id=mc.movie_id AND mk.keyword_id=117||7796926\n'

true cardinality 7796926, predicted 6821596.522397716 with q-error 1.1429767173124257
predicting query no 44: b'SELECT COUNT(*) FROM title t,movie_info mi,movie_info_idx mi_idx,cast_info ci WHERE t.id=mi.movie_id AND t.id=mi_idx.movie_id AND t.id=ci.movie_id AND mi.info_type_id=105 AND mi_idx.info_type_id=100||1831108\n'

true cardinality 1831108, predicted [2832309.0666402] with q-error [1.54677336]
predicting query no 45: b'SELECT COUNT(*) FROM title t,movie_info mi,movie_info_idx mi_idx,cast_info ci WHERE t.id=mi.movie_id AND t.id=mi_idx.movie_id AND t.id=ci.movie_id AND mi.info_type_id=3 AND mi_idx.info_type_id=101 AND t.production_year>2008 AND t.production_year<2014||2936093\n'

true cardinality 2936093, predicted 5455680.2855531825 with q-error 1.858142874068765
predicting query no 46: b'SELECT COUNT(*) FROM title t,movie_info mi,movie_info_idx mi_idx,cast_info ci WHERE t.id=mi.movie_id AND t.id=mi_idx.movie_id AND t.id=ci.movie_id AND mi.info_type_id=3 AND mi_idx.info_type_id=100||16461908\n'

true cardinality 16461908, predicted [35669288.42342447] with q-error [2.16677729]
predicting query no 47: b'SELECT COUNT(*) FROM title t,movie_info mi,movie_companies mc,cast_info ci WHERE t.id=mi.movie_id AND t.id=mc.movie_id AND t.id=ci.movie_id AND ci.role_id=2 AND mi.info_type_id=16 AND t.production_year>2005 AND t.production_year<2009||24675801\n'

true cardinality 24675801, predicted 34103804.496104054 with q-error 1.3820748714947106
predicting query no 48: b'SELECT COUNT(*) FROM title t,movie_info mi,movie_companies mc,cast_info ci WHERE t.id=mi.movie_id AND t.id=mc.movie_id AND t.id=ci.movie_id AND ci.role_id=2 AND mi.info_type_id=16||132317651\n'

true cardinality 132317651, predicted [2.01188969e+08] with q-error [1.52049985]
predicting query no 49: b'SELECT COUNT(*) FROM title t,movie_info mi,movie_companies mc,cast_info ci WHERE t.id=mi.movie_id AND t.id=mc.movie_id AND t.id=ci.movie_id AND ci.role_id=2 AND mi.info_type_id=16 AND t.production_year>2000||90649862\n'

true cardinality 90649862, predicted 123771133.27965836 with q-error 1.3653758599175625
predicting query no 50: b'SELECT COUNT(*) FROM title t,cast_info ci,movie_keyword mk WHERE t.id=mk.movie_id AND t.id=ci.movie_id AND t.production_year>1950 AND t.kind_id=1||151179813\n'

true cardinality 151179813, predicted 153236526.50914603 with q-error 1.013604418925601
predicting query no 51: b'SELECT COUNT(*) FROM title t,cast_info ci,movie_keyword mk WHERE t.id=mk.movie_id AND t.id=ci.movie_id AND t.production_year>2000 AND t.kind_id=1||84217062\n'

true cardinality 84217062, predicted 76516532.71291375 with q-error 1.1006387641214515
predicting query no 52: b'SELECT COUNT(*) FROM title t,movie_keyword mk,movie_companies mc,movie_info mi WHERE t.id=mk.movie_id AND t.id=mc.movie_id AND t.id=mi.movie_id AND mk.keyword_id=398 AND mc.company_type_id=2 AND t.production_year>1950 AND t.production_year<2000||333474\n'

true cardinality 333474, predicted 1250737.339345005 with q-error 3.7506292524904645
predicting query no 53: b'SELECT COUNT(*) FROM title t,movie_keyword mk,movie_companies mc,movie_info mi WHERE t.id=mk.movie_id AND t.id=mc.movie_id AND t.id=mi.movie_id AND mk.keyword_id=398 AND mc.company_type_id=2 AND t.production_year>2000 AND t.production_year<2010||307213\n'

true cardinality 307213, predicted 1225036.5230801653 with q-error 3.9875803533058995
predicting query no 54: b'SELECT COUNT(*) FROM title t,movie_keyword mk,movie_companies mc,movie_info mi WHERE t.id=mk.movie_id AND t.id=mc.movie_id AND t.id=mi.movie_id AND mk.keyword_id=398 AND mc.company_type_id=2 AND t.production_year>1950 AND t.production_year<2010||658557\n'

true cardinality 658557, predicted 2556966.286600278 with q-error 3.8826802943409278
predicting query no 55: b'SELECT COUNT(*) FROM title t,movie_info mi,movie_info_idx mi_idx,movie_keyword mk,movie_companies mc WHERE t.id=mi.movie_id AND t.id=mk.movie_id AND t.id=mi_idx.movie_id AND t.id=mc.movie_id AND t.production_year>2008 AND mi.info_type_id=8 AND mi_idx.info_type_id=101||8275169\n'

true cardinality 8275169, predicted 47597038.27185881 with q-error 5.751790479669818
predicting query no 56: b'SELECT COUNT(*) FROM title t,movie_info mi,movie_info_idx mi_idx,movie_keyword mk,movie_companies mc WHERE t.id=mi.movie_id AND t.id=mk.movie_id AND t.id=mi_idx.movie_id AND t.id=mc.movie_id AND t.production_year>2009 AND mi.info_type_id=8 AND mi_idx.info_type_id=101||5060606\n'

true cardinality 5060606, predicted 33201629.969017785 with q-error 6.560801210174787
predicting query no 57: b'SELECT COUNT(*) FROM title t,movie_info mi,movie_companies mc,cast_info ci,movie_keyword mk WHERE t.id=mi.movie_id AND t.id=mc.movie_id AND t.id=ci.movie_id AND t.id=mk.movie_id AND ci.role_id=2 AND mi.info_type_id=16 AND t.production_year>2010||1352809555\n'

true cardinality 1352809555, predicted 1971603124.3986251 with q-error 1.4574136596770453
predicting query no 58: b'SELECT COUNT(*) FROM title t,movie_info mi,movie_companies mc,cast_info ci,movie_keyword mk WHERE t.id=mi.movie_id AND t.id=mc.movie_id AND t.id=ci.movie_id AND t.id=mk.movie_id AND ci.role_id=2 AND mi.info_type_id=16 AND t.production_year>2010 AND mc.company_id=22956||191935\n'

true cardinality 191935, predicted 319081.195405382 with q-error 1.662444032643249
predicting query no 59: b'SELECT COUNT(*) FROM title t,movie_info mi,movie_companies mc,cast_info ci,movie_keyword mk WHERE t.id=mi.movie_id AND t.id=mc.movie_id AND t.id=ci.movie_id AND t.id=mk.movie_id AND ci.role_id=2 AND mi.info_type_id=16 AND t.production_year>2000||9537310863\n'

true cardinality 9537310863, predicted 13778686142.123991 with q-error 1.444713959736639
predicting query no 60: b'SELECT COUNT(*) FROM title t,movie_info mi,movie_info_idx mi_idx,cast_info ci,movie_keyword mk WHERE t.id=mi.movie_id AND t.id=mi_idx.movie_id AND t.id=ci.movie_id AND t.id=mk.movie_id AND mi.info_type_id=3 AND mi_idx.info_type_id=100||492943940\n'

true cardinality 492943940, predicted [2.30733948e+09] with q-error [4.68073404]
predicting query no 61: b'SELECT COUNT(*) FROM title t,movie_info mi,movie_info_idx mi_idx,cast_info ci,movie_keyword mk WHERE t.id=mi.movie_id AND t.id=mi_idx.movie_id AND t.id=ci.movie_id AND t.id=mk.movie_id AND mi.info_type_id=3 AND mi_idx.info_type_id=100 AND t.production_year>2010||32355583\n'

true cardinality 32355583, predicted 131542616.6699047 with q-error 4.065530720614884
predicting query no 62: b'SELECT COUNT(*) FROM title t,cast_info ci,movie_keyword mk,movie_info_idx mi_idx WHERE t.id=mk.movie_id AND t.id=ci.movie_id AND t.id=mi_idx.movie_id AND t.production_year>2000 AND t.kind_id=1 AND mi_idx.info_type_id=101||81495003\n'

true cardinality 81495003, predicted 62693931.87227089 with q-error 1.2998866168743948
predicting query no 63: b'SELECT COUNT(*) FROM title t,cast_info ci,movie_keyword mk,movie_info_idx mi_idx WHERE t.id=mk.movie_id AND t.id=ci.movie_id AND t.id=mi_idx.movie_id AND t.production_year>2005 AND t.kind_id=1 AND mi_idx.info_type_id=101||51282842\n'

true cardinality 51282842, predicted 37007120.03443213 with q-error 1.3857560910518156
predicting query no 64: b'SELECT COUNT(*) FROM title t,movie_keyword mk,movie_companies mc,movie_info mi WHERE t.id=mk.movie_id AND t.id=mc.movie_id AND t.id=mi.movie_id AND mk.keyword_id=398 AND mc.company_type_id=2 AND t.production_year=1998||19006\n'

true cardinality 19006, predicted 73070.66201891359 with q-error 3.84461022934408
predicting query no 65: b'SELECT COUNT(*) FROM title t,movie_info mi,movie_info_idx mi_idx,movie_keyword mk,movie_companies mc WHERE t.id=mi.movie_id AND t.id=mk.movie_id AND t.id=mi_idx.movie_id AND t.id=mc.movie_id AND t.production_year>2000 AND mi.info_type_id=8 AND mi_idx.info_type_id=101||26718423\n'

true cardinality 26718423, predicted 181075332.8879735 with q-error 6.77717142542333
predicting query no 66: b'SELECT COUNT(*) FROM title t,movie_info mi,movie_info_idx mi_idx,movie_keyword mk,movie_companies mc WHERE t.id=mi.movie_id AND t.id=mk.movie_id AND t.id=mi_idx.movie_id AND t.id=mc.movie_id AND t.production_year>2005 AND mi.info_type_id=8 AND mi_idx.info_type_id=101||15813608\n'

true cardinality 15813608, predicted 95025946.3437443 with q-error 6.009124947560625
predicting query no 67: b'SELECT COUNT(*) FROM title t,movie_info mi,movie_companies mc,cast_info ci,movie_keyword mk WHERE t.id=mi.movie_id AND t.id=mc.movie_id AND t.id=ci.movie_id AND t.id=mk.movie_id AND ci.role_id=2 AND mi.info_type_id=16 AND t.production_year>2000 AND t.production_year<2010 AND mk.keyword_id=7084||1067496\n'

true cardinality 1067496, predicted 9262841.498405548 with q-error 8.677167407096183

predicting query no 68: b'SELECT COUNT(*) FROM title t,movie_info mi,movie_companies mc,cast_info ci,movie_keyword mk WHERE t.id=mi.movie_id AND t.id=mc.movie_id AND t.id=ci.movie_id AND t.id=mk.movie_id AND ci.role_id=2 AND mi.info_type_id=16 AND t.production_year>2000 AND t.production_year<2005 AND mk.keyword_id=7084||268172\n'

true cardinality 268172, predicted 3990775.2848841464 with q-error 14.881401805125615
predicting query no 69: b'SELECT COUNT(*) FROM title t,movie_info mi,movie_info_idx mi_idx,cast_info ci,movie_keyword mk WHERE t.id=mi.movie_id AND t.id=mi_idx.movie_id AND t.id=ci.movie_id AND t.id=mk.movie_id AND mi.info_type_id=3 AND mi_idx.info_type_id=100 AND t.production_year>200||258385218\n'

true cardinality 258385218, predicted 2314516371.247255 with q-error 8.957619128379298
=====================================================================================
q-error 50% percentile is [1.57221377]
q-error 90% percentile is 6.5824382316996415
q-error 95% percentile is 8.831415853801895
q-error 99% percentile is 15.939205786780047
q-error 100% percentile is 18.293672713688274
average latency is 6.250350815909249 ms

/home/ubuntu/miniconda3/envs/bayescard/lib/python3.7/site-packages/numpy/core/_asarray.py:171: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  return array(a, dtype, copy=False, order=order, subok=True)