In [12]:
import pandas as pd
import pickle
import sys
import os
import time
import numpy as np
sys.path.append("/home/ziniu.wzn/BayesCard")
from DataPrepare.schemas import gen_DB0_schema
schema = gen_DB0_schema("/home/ziniu.wzn/AttEst_support/")
ensemble_location = "/home/ziniu.wzn/AttEst_support/DB0/BN_ensemble/"
from DataPrepare.query_prepare_BayesCard import prepare_join_queries

In [13]:
query_filename = "/home/ziniu.wzn/AttEst_support/DB0/join_queries.sql"
parsed_queries, true = prepare_join_queries(schema, ensemble_location, pairwise_rdc_path=None, 
                                            query_filename=query_filename, true_card_exist=True)

=====================================================
0 990||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table3 AS t3, table4 AS t4, table5 AS t5, table6 AS t6 WHERE t5.table0Id = t0.Id AND t3.table0Id = t0.Id AND t1.table0Id = t0.Id AND t6.table1Id2 = t1.Id AND t4.table1Id = t1.Id AND t0.attr1 >= 10632153 AND t0.attr1 <= 127429994 AND t0.attr6 <= 6948 AND t1.attr2 >= -19.0 AND t1.attr3 >= 12.0 AND t3.attr3 = 1.0 AND t4.attr0 = 19.0 AND t5.attr2 >= 108872.0 AND t5.attr2 <= 130998281.0 AND t6.attr0 >= 23098947;

{'table4.table1Id = table1.Id', 'table3.table0Id = table0.Id', 'table5.table0Id = table0.Id', 'table6.table1Id2 = table1.Id', 'table1.table0Id = table0.Id'}
2 : table0.mul_table3.table0Id_nn
False
{'table0', 'table3'} {'table6', 'table1'}
['table0.mul_table1.table0Id', 'table0.mul_table5.table0Id']
4 : table0.mul_table5.table0Id_nn
True
{'table5', 'table0'} {'table0', 'table1', 'table3', 'table6'}
[]
adding: 4 : table0.mul_table5.table0Id_nn
8 : table1.mul_table4.table1Id_nn
True
{'table4', 'table1'} {'table5', 'table0', 'table1', 'table3', 'table6'}
[]
adding: 8 : table1.mul_table4.table1Id_nn
=====================================================
1 41||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table3 AS t3, table4 AS t4, table5 AS t5, table6 AS t6 WHERE t6.table1Id2 = t1.Id AND t5.table1Id = t1.Id AND t3.table1Id = t1.Id AND t4.table1Id = t1.Id AND t3.table0Id = t0.Id AND t0.attr0 >= 19 AND t1.attr2 <= 192.0 AND t1.attr4 >= 0.0 AND t1.attr5 >= 0.0 AND t1.attr5 <= 45.0 AND t3.attr3 = 16.0 AND t4.attr4 = 6.0 AND t5.attr2 >= 1179241.0 AND t5.attr2 <= 131034236.0 AND t6.attr1 = 3;

{'table4.table1Id = table1.Id', 'table3.table0Id = table0.Id', 'table6.table1Id2 = table1.Id', 'table3.table1Id = table1.Id', 'table5.table1Id = table1.Id'}
2 : table0.mul_table3.table0Id_nn
False
{'table0', 'table3'} {'table6', 'table1'}
[]
8 : table1.mul_table4.table1Id_nn
True
{'table4', 'table1'} {'table0', 'table1', 'table3', 'table6'}
[]
adding: 8 : table1.mul_table4.table1Id_nn
9 : table1.mul_table5.table1Id_nn
True
{'table5', 'table1'} {'table4', 'table0', 'table1', 'table3', 'table6'}
[]
adding: 9 : table1.mul_table5.table1Id_nn
=====================================================
2 1292717||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table2 AS t2, table3 AS t3, table4 AS t4, table5 AS t5 WHERE t2.table0Id = t0.Id AND t5.table0Id = t0.Id AND t1.table0Id = t0.Id AND t3.table1Id = t1.Id AND t4.table1Id = t1.Id AND t0.attr0 <= 25123 AND t0.attr6 >= 2 AND t1.attr5 >= 0.0 AND t2.attr0 >= 2518724 AND t2.attr0 <= 128270983 AND t3.attr3 = 15.0 AND t4.attr0 = 25.0 AND t5.attr2 >= 1444809.0;

{'table4.table1Id = table1.Id', 'table5.table0Id = table0.Id', 'table3.table1Id = table1.Id', 'table1.table0Id = table0.Id', 'table2.table0Id = table0.Id'}
4 : table0.mul_table5.table0Id_nn
True
{'table5', 'table0'} {'table2', 'table0'}
[]
adding: 4 : table0.mul_table5.table0Id_nn
6 : table1.mul_table3.table1Id_nn
False
{'table3', 'table1'} {'table2', 'table5', 'table0'}
['table1.mul_table4.table1Id']
8 : table1.mul_table4.table1Id_nn
True
{'table4', 'table1'} {'table2', 'table5', 'table0', 'table1', 'table3'}
[]
adding: 8 : table1.mul_table4.table1Id_nn
=====================================================
3 932||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table3 AS t3, table4 AS t4, table5 AS t5, table6 AS t6 WHERE t6.table1Id2 = t1.Id AND t3.table1Id = t1.Id AND t5.table1Id = t1.Id AND t1.table0Id = t0.Id AND t4.table1Id = t1.Id AND t0.attr5 <= 7357 AND t1.attr2 >= -13.0 AND t3.attr1 >= -45964800.0 AND t4.attr4 = 11.0 AND t5.attr2 <= 131104475.0 AND t6.attr0 >= 32530136 AND t6.attr0 <= 119675628 AND t6.attr1 = 1;

{'table4.table1Id = table1.Id', 'table6.table1Id2 = table1.Id', 'table3.table1Id = table1.Id', 'table1.table0Id = table0.Id', 'table5.table1Id = table1.Id'}
6 : table1.mul_table3.table1Id_nn
True
{'table3', 'table1'} {'table6', 'table1'}
[]
adding: 6 : table1.mul_table3.table1Id_nn
7 : table0.mul_table1.table0Id_nn
True
{'table0', 'table1'} {'table1', 'table3', 'table6'}
[]
adding: 7 : table0.mul_table1.table0Id_nn
8 : table1.mul_table4.table1Id_nn
True
{'table4', 'table1'} {'table0', 'table1', 'table3', 'table6'}
[]
adding: 8 : table1.mul_table4.table1Id_nn
9 : table1.mul_table5.table1Id_nn
True
{'table5', 'table1'} {'table4', 'table0', 'table1', 'table3', 'table6'}
[]
adding: 9 : table1.mul_table5.table1Id_nn
=====================================================
4 89668||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table2 AS t2, table3 AS t3, table4 AS t4, table5 AS t5, table6 AS t6 WHERE t3.table1Id = t1.Id AND t6.table1Id2 = t1.Id AND t4.table1Id = t1.Id AND t5.table1Id = t1.Id AND t5.table0Id = t0.Id AND t2.table0Id = t0.Id AND t0.attr5 >= 3 AND t1.attr2 >= -19.0 AND t1.attr2 <= 192.0 AND t2.attr0 <= 130363568 AND t3.attr1 >= -45964800.0 AND t3.attr1 <= 130896000.0 AND t3.attr3 = 8.0 AND t4.attr1 >= 2015023.0 AND t4.attr1 <= 125055970.0 AND t5.attr2 >= 2332341.0 AND t5.attr2 <= 130877018.0 AND t6.attr1 = 3;

{'table4.table1Id = table1.Id', 'table5.table0Id = table0.Id', 'table6.table1Id2 = table1.Id', 'table3.table1Id = table1.Id', 'table5.table1Id = table1.Id', 'table2.table0Id = table0.Id'}
4 : table0.mul_table5.table0Id_nn
True
{'table5', 'table0'} {'table2', 'table0'}
[]
adding: 4 : table0.mul_table5.table0Id_nn
1 : table1.mul_table6.table1Id_nn
1 : table1.mul_table6.table1Id2_nn
False
{'table6', 'table1'} {'table2', 'table5', 'table0'}
['table1.mul_table5.table1Id', 'table1.mul_table3.table1Id', 'table1.mul_table4.table1Id']
6 : table1.mul_table3.table1Id_nn
True
{'table3', 'table1'} {'table2', 'table5', 'table0', 'table1', 'table6'}
[]
adding: 6 : table1.mul_table3.table1Id_nn
8 : table1.mul_table4.table1Id_nn
True
{'table4', 'table1'} {'table2', 'table5', 'table3', 'table0', 'table1', 'table6'}
[]
adding: 8 : table1.mul_table4.table1Id_nn
=====================================================
5 26707||SELECT COUNT(*) FROM table1 AS t1, table5 AS t5, table6 AS t6 WHERE t5.table1Id = t1.Id AND t6.table1Id2 = t1.Id AND t1.attr2 <= 192.0 AND t1.attr3 >= 45.0 AND t5.attr1 >= 763998.0 AND t6.attr0 >= 33562214 AND t6.attr0 <= 123191184;

{'table6.table1Id2 = table1.Id', 'table5.table1Id = table1.Id'}
9 : table1.mul_table5.table1Id_nn
True
{'table5', 'table1'} {'table6', 'table1'}
[]
adding: 9 : table1.mul_table5.table1Id_nn
=====================================================
6 836||SELECT COUNT(*) FROM table1 AS t1, table6 AS t6 WHERE t6.table1Id2 = t1.Id AND t1.attr6 >= 0.0 AND t6.attr2 = 3;

{'table6.table1Id2 = table1.Id'}
=====================================================
7 1564||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table2 AS t2, table3 AS t3, table5 AS t5 WHERE t2.table0Id = t0.Id AND t5.table0Id = t0.Id AND t5.table1Id = t1.Id AND t3.table1Id = t1.Id AND t0.attr1 >= 69701 AND t0.attr2 >= 14 AND t1.attr1 >= 711671.0 AND t1.attr1 <= 131062613.0 AND t1.attr6 <= 233.0 AND t2.attr0 <= 128619383 AND t3.attr1 <= 130896000.0 AND t3.attr3 = 10.0 AND t5.attr1 >= 669871.0;

{'table5.table0Id = table0.Id', 'table3.table1Id = table1.Id', 'table2.table0Id = table0.Id', 'table5.table1Id = table1.Id'}
4 : table0.mul_table5.table0Id_nn
True
{'table5', 'table0'} {'table2', 'table0'}
[]
adding: 4 : table0.mul_table5.table0Id_nn
6 : table1.mul_table3.table1Id_nn
False
{'table3', 'table1'} {'table2', 'table5', 'table0'}
['table1.mul_table5.table1Id']
=====================================================
8 1034||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table2 AS t2, table3 AS t3, table4 AS t4, table5 AS t5 WHERE t3.table1Id = t1.Id AND t5.table1Id = t1.Id AND t1.table0Id = t0.Id AND t4.table0Id = t0.Id AND t2.table0Id = t0.Id AND t0.attr0 >= 76 AND t0.attr0 <= 25123 AND t0.attr1 >= 9198766 AND t0.attr1 <= 130835253 AND t0.attr5 <= 7395 AND t1.attr3 >= 84.0 AND t2.attr0 >= 3262569 AND t3.attr3 = 9.0 AND t4.attr4 = 14.0 AND t5.attr1 >= 745130.0 AND t5.attr1 <= 130189749.0;

{'table4.table0Id = table0.Id', 'table3.table1Id = table1.Id', 'table1.table0Id = table0.Id', 'table5.table1Id = table1.Id', 'table2.table0Id = table0.Id'}
5 : table0.mul_table4.table0Id_nn
True
{'table4', 'table0'} {'table2', 'table0'}
[]
adding: 5 : table0.mul_table4.table0Id_nn
6 : table1.mul_table3.table1Id_nn
False
{'table3', 'table1'} {'table2', 'table4', 'table0'}
['table1.mul_table5.table1Id']
9 : table1.mul_table5.table1Id_nn
True
{'table5', 'table1'} {'table2', 'table4', 'table0', 'table1', 'table3'}
[]
adding: 9 : table1.mul_table5.table1Id_nn
=====================================================
9 3505219||SELECT COUNT(*) FROM table0 AS t0, table2 AS t2, table5 AS t5 WHERE t2.table0Id = t0.Id AND t5.table0Id = t0.Id AND t0.attr1 >= 9828927 AND t0.attr1 <= 130693960 AND t0.attr4 >= 2 AND t2.attr0 <= 128368809 AND t5.attr1 <= 130786293.0;

{'table5.table0Id = table0.Id', 'table2.table0Id = table0.Id'}
4 : table0.mul_table5.table0Id_nn
True
{'table5', 'table0'} {'table2', 'table0'}
[]
adding: 4 : table0.mul_table5.table0Id_nn
=====================================================
10 45570||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table2 AS t2, table3 AS t3, table4 AS t4, table5 AS t5 WHERE t4.table1Id = t1.Id AND t4.table0Id = t0.Id AND t2.table0Id = t0.Id AND t3.table0Id = t0.Id AND t5.table0Id = t0.Id AND t0.attr4 >= 0 AND t0.attr4 <= 412 AND t1.attr6 >= 0.0 AND t1.attr6 <= 233.0 AND t2.attr0 <= 129900774 AND t3.attr0 = 10.0 AND t3.attr1 >= -40003200.0 AND t3.attr1 <= 130982400.0 AND t4.attr1 >= 945328.0 AND t5.attr1 >= 222069.0;

{'table4.table0Id = table0.Id', 'table4.table1Id = table1.Id', 'table3.table0Id = table0.Id', 'table5.table0Id = table0.Id', 'table2.table0Id = table0.Id'}
2 : table0.mul_table3.table0Id_nn
True
{'table0', 'table3'} {'table2', 'table0'}
[]
adding: 2 : table0.mul_table3.table0Id_nn
4 : table0.mul_table5.table0Id_nn
True
{'table5', 'table0'} {'table2', 'table0', 'table3'}
[]
adding: 4 : table0.mul_table5.table0Id_nn
5 : table0.mul_table4.table0Id_nn
True
{'table4', 'table0'} {'table2', 'table5', 'table0', 'table3'}
[]
adding: 5 : table0.mul_table4.table0Id_nn
8 : table1.mul_table4.table1Id_nn
True
{'table4', 'table1'} {'table2', 'table5', 'table4', 'table0', 'table3'}
[]
adding: 8 : table1.mul_table4.table1Id_nn
=====================================================
11 34984||SELECT COUNT(*) FROM table0 AS t0, table2 AS t2 WHERE t2.table0Id = t0.Id AND t0.attr0 >= 12 AND t0.attr0 <= 37083 AND t0.attr2 >= 11 AND t0.attr2 <= 3781 AND t0.attr3 <= 8641 AND t2.attr0 >= 2312443 AND t2.attr0 <= 130985018;

{'table2.table0Id = table0.Id'}
=====================================================
12 1033||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table4 AS t4, table5 AS t5, table6 AS t6 WHERE t4.table1Id = t1.Id AND t4.table0Id = t0.Id AND t6.table1Id2 = t1.Id AND t5.table0Id = t0.Id AND t0.attr3 >= 15 AND t0.attr3 <= 11442 AND t1.attr6 >= 2.0 AND t4.attr4 = 38.0 AND t5.attr0 = 15.0 AND t6.attr0 >= 13065240 AND t6.attr0 <= 128446757;

{'table4.table0Id = table0.Id', 'table4.table1Id = table1.Id', 'table6.table1Id2 = table1.Id', 'table5.table0Id = table0.Id'}
5 : table0.mul_table4.table0Id_nn
False
{'table4', 'table0'} {'table6', 'table1'}
['table0.mul_table5.table0Id']
4 : table0.mul_table5.table0Id_nn
True
{'table5', 'table0'} {'table4', 'table0', 'table1', 'table6'}
[]
adding: 4 : table0.mul_table5.table0Id_nn
=====================================================
13 29536||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table3 AS t3, table4 AS t4, table5 AS t5, table6 AS t6 WHERE t4.table0Id = t0.Id AND t4.table1Id = t1.Id AND t3.table0Id = t0.Id AND t5.table0Id = t0.Id AND t6.table1Id2 = t1.Id AND t0.attr5 >= 1 AND t0.attr5 <= 1244 AND t1.attr4 <= 136.0 AND t3.attr1 <= 131068800.0 AND t4.attr2 = 12.0 AND t5.attr1 <= 130612270.0 AND t6.attr1 = 3;

{'table4.table0Id = table0.Id', 'table4.table1Id = table1.Id', 'table3.table0Id = table0.Id', 'table5.table0Id = table0.Id', 'table6.table1Id2 = table1.Id'}
5 : table0.mul_table4.table0Id_nn
False
{'table4', 'table0'} {'table6', 'table1'}
['table0.mul_table3.table0Id', 'table0.mul_table5.table0Id']
2 : table0.mul_table3.table0Id_nn
True
{'table0', 'table3'} {'table4', 'table0', 'table1', 'table6'}
[]
adding: 2 : table0.mul_table3.table0Id_nn
4 : table0.mul_table5.table0Id_nn
True
{'table5', 'table0'} {'table3', 'table4', 'table0', 'table1', 'table6'}
[]
adding: 4 : table0.mul_table5.table0Id_nn
=====================================================
14 14003||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table3 AS t3, table6 AS t6 WHERE t3.table0Id = t0.Id AND t1.table0Id = t0.Id AND t6.table1Id2 = t1.Id AND t0.attr4 >= 0 AND t1.attr5 >= 0.0 AND t1.attr5 <= 45.0 AND t1.attr6 >= 0.0 AND t3.attr0 = 5.0 AND t6.attr2 = 3;

{'table3.table0Id = table0.Id', 'table6.table1Id2 = table1.Id', 'table1.table0Id = table0.Id'}
2 : table0.mul_table3.table0Id_nn
False
{'table0', 'table3'} {'table6', 'table1'}
['table0.mul_table1.table0Id']
=====================================================
15 720||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table3 AS t3, table4 AS t4, table6 AS t6 WHERE t6.table1Id2 = t1.Id AND t1.table0Id = t0.Id AND t4.table1Id = t1.Id AND t3.table0Id = t0.Id AND t0.attr3 >= 1 AND t0.attr3 <= 11442 AND t0.attr4 >= 2 AND t0.attr4 <= 779 AND t0.attr6 <= 7395 AND t1.attr4 >= 1.0 AND t1.attr4 <= 136.0 AND t3.attr1 >= -45964800.0 AND t4.attr1 <= 127661459.0 AND t4.attr2 = 8.0 AND t6.attr0 <= 124715895;

{'table3.table0Id = table0.Id', 'table4.table1Id = table1.Id', 'table6.table1Id2 = table1.Id', 'table1.table0Id = table0.Id'}
2 : table0.mul_table3.table0Id_nn
False
{'table0', 'table3'} {'table6', 'table1'}
['table0.mul_table1.table0Id']
8 : table1.mul_table4.table1Id_nn
True
{'table4', 'table1'} {'table0', 'table1', 'table3', 'table6'}
[]
adding: 8 : table1.mul_table4.table1Id_nn
=====================================================
16 488130||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table2 AS t2, table3 AS t3, table4 AS t4, table5 AS t5, table6 AS t6 WHERE t6.table1Id2 = t1.Id AND t4.table1Id = t1.Id AND t5.table1Id = t1.Id AND t1.table0Id = t0.Id AND t3.table1Id = t1.Id AND t2.table0Id = t0.Id AND t0.attr4 <= 163 AND t1.attr5 >= 0.0 AND t1.attr5 <= 45.0 AND t2.attr0 >= 839334 AND t3.attr0 = 1.0 AND t4.attr1 >= 3754584.0 AND t4.attr1 <= 126821519.0 AND t5.attr2 <= 130597682.0 AND t6.attr0 >= 7194470 AND t6.attr0 <= 130993166 AND t6.attr2 = 1;

{'table4.table1Id = table1.Id', 'table6.table1Id2 = table1.Id', 'table3.table1Id = table1.Id', 'table1.table0Id = table0.Id', 'table5.table1Id = table1.Id', 'table2.table0Id = table0.Id'}
1 : table1.mul_table6.table1Id_nn
1 : table1.mul_table6.table1Id2_nn
False
{'table6', 'table1'} {'table2', 'table0'}
['table1.mul_table3.table1Id', 'table1.mul_table4.table1Id', 'table1.mul_table5.table1Id']
6 : table1.mul_table3.table1Id_nn
True
{'table3', 'table1'} {'table2', 'table0', 'table1', 'table6'}
[]
adding: 6 : table1.mul_table3.table1Id_nn
8 : table1.mul_table4.table1Id_nn
True
{'table4', 'table1'} {'table2', 'table3', 'table0', 'table1', 'table6'}
[]
adding: 8 : table1.mul_table4.table1Id_nn
9 : table1.mul_table5.table1Id_nn
True
{'table5', 'table1'} {'table2', 'table3', 'table4', 'table0', 'table1', 'table6'}
[]
adding: 9 : table1.mul_table5.table1Id_nn
=====================================================
17 69851||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table3 AS t3, table4 AS t4 WHERE t3.table0Id = t0.Id AND t3.table1Id = t1.Id AND t4.table0Id = t0.Id AND t0.attr5 >= 2 AND t0.attr6 >= 4 AND t0.attr6 <= 6948 AND t1.attr1 >= 4007557.0 AND t3.attr1 >= -45446400.0 AND t3.attr1 <= 129600000.0 AND t4.attr3 = 10.0;

{'table3.table0Id = table0.Id', 'table3.table1Id = table1.Id', 'table4.table0Id = table0.Id'}
5 : table0.mul_table4.table0Id_nn
True
{'table4', 'table0'} {'table0', 'table3'}
[]
adding: 5 : table0.mul_table4.table0Id_nn
6 : table1.mul_table3.table1Id_nn
True
{'table3', 'table1'} {'table4', 'table0', 'table3'}
[]
adding: 6 : table1.mul_table3.table1Id_nn
=====================================================
18 3420||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table2 AS t2, table3 AS t3, table4 AS t4, table5 AS t5, table6 AS t6 WHERE t2.table0Id = t0.Id AND t1.table0Id = t0.Id AND t4.table0Id = t0.Id AND t3.table0Id = t0.Id AND t6.table1Id2 = t1.Id AND t5.table1Id = t1.Id AND t0.attr3 >= 3 AND t0.attr4 <= 214 AND t1.attr1 >= 100814.0 AND t1.attr5 >= 1.0 AND t1.attr5 <= 45.0 AND t2.attr0 >= 5395110 AND t2.attr0 <= 128696985 AND t3.attr0 = 11.0 AND t3.attr1 >= -40003200.0 AND t3.attr1 <= 131068800.0 AND t4.attr1 >= 2564220.0 AND t4.attr1 <= 129903836.0 AND t5.attr1 >= -649592.0 AND t6.attr0 >= 17901983 AND t6.attr0 <= 130141014;

{'table4.table0Id = table0.Id', 'table3.table0Id = table0.Id', 'table6.table1Id2 = table1.Id', 'table1.table0Id = table0.Id', 'table5.table1Id = table1.Id', 'table2.table0Id = table0.Id'}
1 : table1.mul_table6.table1Id_nn
1 : table1.mul_table6.table1Id2_nn
False
{'table6', 'table1'} {'table2', 'table0'}
['table1.mul_table5.table1Id']
2 : table0.mul_table3.table0Id_nn
True
{'table0', 'table3'} {'table2', 'table0', 'table1', 'table6'}
[]
adding: 2 : table0.mul_table3.table0Id_nn
5 : table0.mul_table4.table0Id_nn
True
{'table4', 'table0'} {'table2', 'table3', 'table0', 'table1', 'table6'}
[]
adding: 5 : table0.mul_table4.table0Id_nn
9 : table1.mul_table5.table1Id_nn
True
{'table5', 'table1'} {'table2', 'table3', 'table4', 'table0', 'table1', 'table6'}
[]
adding: 9 : table1.mul_table5.table1Id_nn
=====================================================
19 19903||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table2 AS t2, table3 AS t3, table4 AS t4, table5 AS t5, table6 AS t6 WHERE t2.table0Id = t0.Id AND t1.table0Id = t0.Id AND t3.table1Id = t1.Id AND t6.table1Id2 = t1.Id AND t4.table1Id = t1.Id AND t5.table1Id = t1.Id AND t0.attr0 >= 52 AND t0.attr0 <= 37083 AND t0.attr5 >= 4 AND t0.attr5 <= 5025 AND t1.attr2 >= -19.0 AND t2.attr0 <= 130990527 AND t3.attr3 = 3.0 AND t4.attr1 <= 130207555.0 AND t5.attr0 = 14.0 AND t6.attr2 = 1;

{'table4.table1Id = table1.Id', 'table6.table1Id2 = table1.Id', 'table3.table1Id = table1.Id', 'table1.table0Id = table0.Id', 'table5.table1Id = table1.Id', 'table2.table0Id = table0.Id'}
1 : table1.mul_table6.table1Id_nn
1 : table1.mul_table6.table1Id2_nn
False
{'table6', 'table1'} {'table2', 'table0'}
['table1.mul_table3.table1Id', 'table1.mul_table4.table1Id', 'table1.mul_table5.table1Id']
6 : table1.mul_table3.table1Id_nn
True
{'table3', 'table1'} {'table2', 'table0', 'table1', 'table6'}
[]
adding: 6 : table1.mul_table3.table1Id_nn
8 : table1.mul_table4.table1Id_nn
True
{'table4', 'table1'} {'table2', 'table3', 'table0', 'table1', 'table6'}
[]
adding: 8 : table1.mul_table4.table1Id_nn
9 : table1.mul_table5.table1Id_nn
True
{'table5', 'table1'} {'table2', 'table3', 'table4', 'table0', 'table1', 'table6'}
[]
adding: 9 : table1.mul_table5.table1Id_nn
=====================================================
20 2||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table3 AS t3, table5 AS t5, table6 AS t6 WHERE t5.table0Id = t0.Id AND t5.table1Id = t1.Id AND t3.table1Id = t1.Id AND t6.table1Id2 = t1.Id AND t0.attr1 <= 130448551 AND t1.attr3 >= 101.0 AND t1.attr3 <= 29151.0 AND t1.attr5 <= 45.0 AND t3.attr0 = 7.0 AND t5.attr1 >= 683478.0 AND t6.attr0 >= 19187507;

{'table5.table0Id = table0.Id', 'table6.table1Id2 = table1.Id', 'table3.table1Id = table1.Id', 'table5.table1Id = table1.Id'}
4 : table0.mul_table5.table0Id_nn
False
{'table5', 'table0'} {'table6', 'table1'}
[]
6 : table1.mul_table3.table1Id_nn
True
{'table3', 'table1'} {'table5', 'table0', 'table1', 'table6'}
[]
adding: 6 : table1.mul_table3.table1Id_nn
=====================================================
21 574603||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table5 AS t5 WHERE t1.table0Id = t0.Id AND t5.table0Id = t0.Id AND t0.attr1 >= 700633 AND t0.attr2 >= 13 AND t0.attr2 <= 7357 AND t1.attr6 >= 1.0 AND t1.attr6 <= 233.0 AND t5.attr2 >= 3925594.0;


{'table3.table0Id = table0.Id', 'table1.table0Id = table0.Id'}
7 : table0.mul_table1.table0Id_nn
True
{'table0', 'table1'} {'table0', 'table3'}
[]
adding: 7 : table0.mul_table1.table0Id_nn
=====================================================
24 28547||SELECT COUNT(*) FROM table0 AS t0, table2 AS t2, table3 AS t3, table4 AS t4 WHERE t2.table0Id = t0.Id AND t4.table0Id = t0.Id AND t3.table0Id = t0.Id AND t0.attr1 >= 8491678 AND t0.attr1 <= 130317985 AND t0.attr2 <= 1660 AND t0.attr6 <= 5529 AND t2.attr0 >= 329599 AND t2.attr0 <= 129776870 AND t3.attr1 >= -45878400.0 AND t3.attr1 <= 130291200.0 AND t4.attr2 = 38.0;

{'table4.table0Id = table0.Id', 'table2.table0Id = table0.Id', 'table3.table0Id = table0.Id'}
2 : table0.mul_table3.table0Id_nn
True
{'table0', 'table3'} {'table2', 'table0'}
[]
adding: 2 : table0.mul_table3.table0Id_nn
5 : table0.mul_table4.table0Id_nn
True
{'table4', 'table0'} {'table2', 'table0', 'table3'}
[]
adding: 5 : table0.mul_table4.table0Id_nn
=====================================================
25 11||SELECT COUNT(*) FROM table1 AS t1, table3 AS t3, table4 AS t4, table6 AS t6 WHERE t3.table1Id = t1.Id AND t4.table1Id = t1.Id AND t6.table1Id2 = t1.Id AND t1.attr0 = 2.0 AND t1.attr1 >= 157857.0 AND t3.attr1 <= 130982400.0 AND t4.attr0 = 36.0 AND t4.attr1 <= 127654444.0 AND t4.attr2 = 5.0 AND t6.attr2 = 1;

{'table4.table1Id = table1.Id', 'table6.table1Id2 = table1.Id', 'table3.table1Id = table1.Id'}
6 : table1.mul_table3.table1Id_nn
True
{'table3', 'table1'} {'table6', 'table1'}
[]
adding: 6 : table1.mul_table3.table1Id_nn
8 : table1.mul_table4.table1Id_nn
True
{'table4', 'table1'} {'table1', 'table3', 'table6'}
[]
adding: 8 : table1.mul_table4.table1Id_nn
=====================================================
26 29647||SELECT COUNT(*) FROM table0 AS t0, table3 AS t3 WHERE t3.table0Id = t0.Id AND t0.attr2 >= 6 AND t0.attr2 <= 5441 AND t3.attr1 >= -45964800.0;

{'table3.table0Id = table0.Id'}
=====================================================
27 768||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table2 AS t2, table3 AS t3, table5 AS t5, table6 AS t6 WHERE t5.table0Id = t0.Id AND t5.table1Id = t1.Id AND t2.table0Id = t0.Id AND t6.table1Id2 = t1.Id AND t3.table1Id = t1.Id AND t0.attr1 >= 22899528 AND t1.attr2 <= 184.0 AND t2.attr0 <= 131054199 AND t3.attr3 = 15.0 AND t5.attr0 = 6.0 AND t6.attr2 = 1;

{'table5.table0Id = table0.Id', 'table6.table1Id2 = table1.Id', 'table3.table1Id = table1.Id', 'table5.table1Id = table1.Id', 'table2.table0Id = table0.Id'}
4 : table0.mul_table5.table0Id_nn
True
{'table5', 'table0'} {'table2', 'table0'}
[]
adding: 4 : table0.mul_table5.table0Id_nn
1 : table1.mul_table6.table1Id_nn
1 : table1.mul_table6.table1Id2_nn
False
{'table6', 'table1'} {'table2', 'table5', 'table0'}
['table1.mul_table5.table1Id', 'table1.mul_table3.table1Id']
6 : table1.mul_table3.table1Id_nn
True
{'table3', 'table1'} {'table2', 'table5', 'table0', 'table1', 'table6'}
[]
adding: 6 : table1.mul_table3.table1Id_nn
=====================================================
28 395226||SELECT COUNT(*) FROM table0 AS t0, table2 AS t2, table4 AS t4 WHERE t4.table0Id = t0.Id AND t2.table0Id = t0.Id AND t0.attr3 >= 7 AND t2.attr0 >= 74346 AND t4.attr1 <= 128826740.0 AND t4.attr4 = 10.0;

{'table4.table0Id = table0.Id', 'table2.table0Id = table0.Id'}
5 : table0.mul_table4.table0Id_nn
True
{'table4', 'table0'} {'table2', 'table0'}
[]
adding: 5 : table0.mul_table4.table0Id_nn
=====================================================
29 77678||SELECT COUNT(*) FROM table0 AS t0, table5 AS t5 WHERE t5.table0Id = t0.Id AND t0.attr0 >= 22 AND t0.attr0 <= 6216 AND t0.attr1 <= 130283919 AND t5.attr1 >= 7864559.0;

{'table5.table0Id = table0.Id'}
=====================================================
30 3955303||SELECT COUNT(*) FROM table0 AS t0, table2 AS t2, table4 AS t4 WHERE t2.table0Id = t0.Id AND t4.table0Id = t0.Id AND t0.attr0 >= 3 AND t2.attr0 >= 910445 AND t4.attr1 <= 130386861.0 AND t4.attr2 = 2.0;

{'table4.table0Id = table0.Id', 'table2.table0Id = table0.Id'}
5 : table0.mul_table4.table0Id_nn
True
{'table4', 'table0'} {'table2', 'table0'}
[]
adding: 5 : table0.mul_table4.table0Id_nn
=====================================================
31 96713||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table3 AS t3, table5 AS t5, table6 AS t6 WHERE t5.table0Id = t0.Id AND t5.table1Id = t1.Id AND t3.table0Id = t0.Id AND t6.table1Id2 = t1.Id AND t0.attr1 <= 129872841 AND t1.attr1 >= 2553539.0 AND t1.attr1 <= 130350585.0 AND t1.attr5 >= 0.0 AND t1.attr5 <= 45.0 AND t3.attr1 <= 130896000.0 AND t5.attr1 >= 164028.0 AND t6.attr1 = 1 AND t6.attr2 = 3;

{'table3.table0Id = table0.Id', 'table5.table0Id = table0.Id', 'table6.table1Id2 = table1.Id', 'table5.table1Id = table1.Id'}
4 : table0.mul_table5.table0Id_nn
False
{'table5', 'table0'} {'table6', 'table1'}
['table0.mul_table3.table0Id']
2 : table0.mul_table3.table0Id_nn
True
{'table0', 'table3'} {'table5', 'table0', 'table1', 'table6'}
[]
adding: 2 : table0.mul_table3.table0Id_nn
=====================================================
32 6761||SELECT COUNT(*) FROM table1 AS t1, table3 AS t3 WHERE t3.table1Id = t1.Id AND t1.attr1 <= 130748792.0 AND t3.attr3 = 3.0;

{'table3.table1Id = table1.Id'}
=====================================================
33 2970013||SELECT COUNT(*) FROM table0 AS t0, table2 AS t2, table5 AS t5 WHERE t5.table0Id = t0.Id AND t2.table0Id = t0.Id AND t0.attr2 <= 2866 AND t2.attr0 >= 5395110 AND t5.attr2 >= 774376.0 AND t5.attr2 <= 130807117.0;

{'table5.table0Id = table0.Id', 'table2.table0Id = table0.Id'}
4 : table0.mul_table5.table0Id_nn
True
{'table5', 'table0'} {'table2', 'table0'}
[]
adding: 4 : table0.mul_table5.table0Id_nn
=====================================================
34 11948||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1 WHERE t1.table0Id = t0.Id AND t0.attr6 >= 11 AND t1.attr4 >= 0.0 AND t1.attr4 <= 136.0;

{'table1.table0Id = table0.Id'}
=====================================================
35 381||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table3 AS t3, table4 AS t4 WHERE t4.table0Id = t0.Id AND t3.table0Id = t0.Id AND t1.table0Id = t0.Id AND t0.attr2 >= 5 AND t0.attr2 <= 5680 AND t1.attr2 <= 184.0 AND t1.attr3 >= 13.0 AND t1.attr3 <= 16229.0 AND t1.attr4 <= 136.0 AND t1.attr6 <= 233.0 AND t3.attr0 = 9.0 AND t4.attr1 >= 8067204.0 AND t4.attr1 <= 130543363.0;

{'table4.table0Id = table0.Id', 'table1.table0Id = table0.Id', 'table3.table0Id = table0.Id'}
5 : table0.mul_table4.table0Id_nn
True
{'table4', 'table0'} {'table0', 'table3'}
[]
adding: 5 : table0.mul_table4.table0Id_nn
7 : table0.mul_table1.table0Id_nn
True
{'table0', 'table1'} {'table4', 'table0', 'table3'}
[]
adding: 7 : table0.mul_table1.table0Id_nn
=====================================================
36 16||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table2 AS t2, table3 AS t3, table4 AS t4 WHERE t2.table0Id = t0.Id AND t3.table0Id = t0.Id AND t4.table0Id = t0.Id AND t4.table1Id = t1.Id AND t0.attr2 <= 7357 AND t0.attr5 <= 5025 AND t0.attr6 <= 1101 AND t1.attr0 = 1.0 AND t1.attr6 >= 0.0 AND t2.attr0 >= 147251 AND t2.attr0 <= 129685657 AND t3.attr3 = 9.0 AND t4.attr3 = 13.0;

{'table3.table0Id = table0.Id', 'table4.table1Id = table1.Id', 'table4.table0Id = table0.Id', 'table2.table0Id = table0.Id'}
2 : table0.mul_table3.table0Id_nn
True
{'table0', 'table3'} {'table2', 'table0'}
[]
adding: 2 : table0.mul_table3.table0Id_nn
5 : table0.mul_table4.table0Id_nn
True
{'table4', 'table0'} {'table2', 'table0', 'table3'}
[]
adding: 5 : table0.mul_table4.table0Id_nn
8 : table1.mul_table4.table1Id_nn
True
{'table4', 'table1'} {'table2', 'table4', 'table0', 'table3'}
[]
adding: 8 : table1.mul_table4.table1Id_nn
=====================================================
37 237490||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table2 AS t2, table4 AS t4, table5 AS t5 WHERE t4.table1Id = t1.Id AND t5.table1Id = t1.Id AND t5.table0Id = t0.Id AND t2.table0Id = t0.Id AND t0.attr0 >= 1 AND t0.attr6 >= 3 AND t1.attr5 <= 41.0 AND t2.attr0 >= 103448 AND t2.attr0 <= 130561510 AND t4.attr2 = 33.0 AND t5.attr1 >= 369826.0 AND t5.attr1 <= 131035172.0;

{'table4.table1Id = table1.Id', 'table5.table0Id = table0.Id', 'table2.table0Id = table0.Id', 'table5.table1Id = table1.Id'}
4 : table0.mul_table5.table0Id_nn
True
{'table5', 'table0'} {'table2', 'table0'}
[]
adding: 4 : table0.mul_table5.table0Id_nn
8 : table1.mul_table4.table1Id_nn
False
{'table4', 'table1'} {'table2', 'table5', 'table0'}
['table1.mul_table5.table1Id']
=====================================================
38 3072||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table2 AS t2, table3 AS t3, table4 AS t4, table5 AS t5, table6 AS t6 WHERE t2.table0Id = t0.Id AND t5.table0Id = t0.Id AND t3.table0Id = t0.Id AND t1.table0Id = t0.Id AND t6.table1Id2 = t1.Id AND t4.table1Id = t1.Id AND t0.attr3 >= 6 AND t1.attr4 >= 1.0 AND t2.attr0 <= 130455655 AND t3.attr1 >= -45964800.0 AND t3.attr1 <= 130464000.0 AND t4.attr1 <= 130254945.0 AND t4.attr3 = 8.0 AND t4.attr4 = 3.0 AND t5.attr2 >= 118606.0 AND t6.attr0 >= 24658873 AND t6.attr0 <= 130786995;

{'table4.table1Id = table1.Id', 'table3.table0Id = table0.Id', 'table5.table0Id = table0.Id', 'table6.table1Id2 = table1.Id', 'table1.table0Id = table0.Id', 'table2.table0Id = table0.Id'}
1 : table1.mul_table6.table1Id_nn
1 : table1.mul_table6.table1Id2_nn
False
{'table6', 'table1'} {'table2', 'table0'}
['table1.mul_table4.table1Id']
2 : table0.mul_table3.table0Id_nn
True
{'table0', 'table3'} {'table2', 'table0', 'table1', 'table6'}
[]
adding: 2 : table0.mul_table3.table0Id_nn
4 : table0.mul_table5.table0Id_nn
True
{'table5', 'table0'} {'table2', 'table3', 'table0', 'table1', 'table6'}
[]
adding: 4 : table0.mul_table5.table0Id_nn
8 : table1.mul_table4.table1Id_nn
True
{'table4', 'table1'} {'table2', 'table3', 'table5', 'table0', 'table1', 'table6'}
[]
adding: 8 : table1.mul_table4.table1Id_nn
=====================================================
39 34||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table4 AS t4, table5 AS t5 WHERE t5.table0Id = t0.Id AND t5.table1Id = t1.Id AND t4.table0Id = t0.Id AND t0.attr0 >= 23 AND t0.attr4 >= 1 AND t0.attr4 <= 1920 AND t1.attr2 <= 184.0 AND t1.attr3 >= 44.0 AND t4.attr2 = 15.0 AND t5.attr0 = 8.0;

{'table4.table0Id = table0.Id', 'table5.table0Id = table0.Id', 'table5.table1Id = table1.Id'}
5 : table0.mul_table4.table0Id_nn
True
{'table4', 'table0'} {'table5', 'table0'}
[]
adding: 5 : table0.mul_table4.table0Id_nn
9 : table1.mul_table5.table1Id_nn
True
{'table5', 'table1'} {'table5', 'table4', 'table0'}
[]
adding: 9 : table1.mul_table5.table1Id_nn

In [9]:
from Models.BN_ensemble_model import BN_ensemble
def load_ensemble(schema, model_path=ensemble_location):
    bn_ensemble = BN_ensemble(schema)
    for file in os.listdir(model_path):
        if file.endswith(".pkl"):
            print(file)
            with open(model_path+file, "rb") as f:
                bn = pickle.load(f)
                bn.infer_algo = "exact-jit"
                bn.init_inference_method()
            bn_ensemble.bns.append(bn)
            #bn_ensemble.bns[int(file[0])] = bn
    return bn_ensemble
bn_ensemble = load_ensemble(schema)

2_chow-liu_1.pkl
4_chow-liu_1.pkl
8_chow-liu_1.pkl
3_chow-liu_1.pkl
1_chow-liu_1.pkl
6_chow-liu_1.pkl
7_chow-liu_1.pkl
9_chow-liu_1.pkl
5_chow-liu_1.pkl
0_chow-liu_1.pkl

In [14]:
with open(query_filename, "rb") as f:
    real_query = f.readlines()
queries = bn_ensemble.parse_query_all(parsed_queries)

In [15]:
bn_ensemble.bns[1].table_set

{'table1', 'table6'}

In [16]:
real_query[12]

b'1033||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table4 AS t4, table5 AS t5, table6 AS t6 WHERE t4.table1Id = t1.Id AND t4.table0Id = t0.Id AND t6.table1Id2 = t1.Id AND t5.table0Id = t0.Id AND t0.attr3 >= 15 AND t0.attr3 <= 11442 AND t1.attr6 >= 2.0 AND t4.attr4 = 38.0 AND t5.attr0 = 15.0 AND t6.attr0 >= 13065240 AND t6.attr0 <= 128446757;\n'

In [17]:
print(queries[12])

[98696, {'bn_index': 1, 'inverse': False, 'expectation': ['table1.mul_table4.table1Id'], 'query': {'table1.attr6': [2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57], 'table6.table6_nn': 1, 'table6.attr0': [11, 12, 10, 13, 9, 14, 8, 15, 7, 16, 6, 17, 5, 18, 4, 19, 3, 20, 2, 21, 1, 22]}, 'n_distinct': {'table1.attr6': [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.9999999999999999, 1.0, 1.0, 0.9999999999999999, 1.0, 1.0, 0.9999999999999999, 1.0, 1.0, 1.0, 1, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.9999999999999999, 1.0, 1.0], 'table6.table6_nn': array([1]), 'table6.attr0': array([1.       , 1.       , 1.       , 1.       , 1.       , 1.       ,
       1.       , 1.       , 1.       , 1.       , 1.       , 1.       ,
       1.       , 1.       , 1.       , 1.       , 1.       , 1.       ,
       1.       , 1.       , 1.       , 0.1616725])}}, {'bn_index': 5, 'inverse': False, 'expectation': ['table0.mul_table5.table0Id'], 'query': {'table0.table0_nn': 0, 'table0.attr3': [4, 5, 6, 7, 9, 12, 15, 16, 18, 21, 23, 26, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78], 'table4.table4_nn': 0, 'table4.attr4': 16}, 'n_distinct': {'table0.table0_nn': array([1]), 'table0.attr3': [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.9999999999999999, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.9999999999999999, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.9999999999999999, 1.0, 1, 1.0, 1.0, 0.9999999999999998, 1.0, 0.9999999999999998, 0.9999999999999998, 1, 1.0, 0.9999999999999999, 1.0, 0.9999999999999999, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.9999999999999999, 1.0, 1.0, 1.0, 1.0, 1.0], 'table4.table4_nn': array([1]), 'table4.attr4': array([1])}}, {'bn_index': 5, 'inverse': True, 'expectation': [], 'query': {'table4.table4_nn': 0}, 'n_distinct': {'table4.table4_nn': array([1])}}, {'bn_index': 4, 'inverse': False, 'expectation': ['table0.mul_table5.table0Id_nn'], 'query': {'table0.table0_nn': 0, 'table0.attr3': [1, 2, 5, 6, 7, 9, 12, 13, 15, 18, 21, 23, 24, 25, 26, 28, 29, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79], 'table5.table5_nn': 0, 'table5.attr0': 15}, 'n_distinct': {'table0.table0_nn': array([1]), 'table0.attr3': [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.44165170556552963, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.9999999999999999, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.9999999999999999, 1.0, 0.9999999999999998, 1.0, 1.0, 1, 1.0, 0.9999999999999999, 1.0, 1.0, 0.9999999999999998, 0.9999999999999998, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.9999999999999999, 1, 0.9999999999999999, 1.0, 1.0, 0.9999999999999998, 0.9999999999999998, 1.0, 0.9999999999999999, 1.0, 0.9999999999999999, 1.0, 1.0, 1, 1.0, 1.0, 1.0], 'table5.table5_nn': array([1]), 'table5.attr0': array([1])}}, {'bn_index': 4, 'inverse': True, 'expectation': [], 'query': {'table0.table0_nn': 0, 'table0.attr3': [1, 2, 5, 6, 7, 9, 12, 13, 15, 18, 21, 23, 24, 25, 26, 28, 29, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79], 'table5.table5_nn': 0}, 'n_distinct': {'table0.table0_nn': array([1]), 'table0.attr3': [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.44165170556552963, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.9999999999999999, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.9999999999999999, 1.0, 0.9999999999999998, 1.0, 1.0, 1, 1.0, 0.9999999999999999, 1.0, 1.0, 0.9999999999999998, 0.9999999999999998, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.9999999999999999, 1, 0.9999999999999999, 1.0, 1.0, 0.9999999999999998, 0.9999999999999998, 1.0, 0.9999999999999999, 1.0, 0.9999999999999999, 1.0, 1.0, 1, 1.0, 1.0, 1.0], 'table5.table5_nn': array([1])}}]

In [18]:
bn_ensemble.cardinality(queries[12])

1

In [19]:
latency = []
q_errors = []
for i, q in enumerate(queries):
    tic = time.time()
    try:
        pred = bn_ensemble.cardinality(q)
    except:
        print(f"query {i} is invalid!!!!!!!!!!!!!!!!!!!!!!!!!!!")
        # this query itself is invalid or it is not recognizable by the learnt BN
        continue
    latency.append(time.time() - tic)
    if pred is None or pred <= 1:
        pred = 1
    error = max(pred / true[i], true[i] / pred)
    print(f"predicting query no {i}: {real_query[i]} \n")
    print(f"true cardinality {true[i]}, predicted {pred} with q-error {error}")
    q_errors.append(error)
print("=====================================================================================")
for i in [50, 90, 95, 99, 100]:
    print(f"q-error {i}% percentile is {np.percentile(q_errors, i)}")
print(f"average latency is {np.mean(latency)*1000} ms")

predicting query no 0: b'990||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table3 AS t3, table4 AS t4, table5 AS t5, table6 AS t6 WHERE t5.table0Id = t0.Id AND t3.table0Id = t0.Id AND t1.table0Id = t0.Id AND t6.table1Id2 = t1.Id AND t4.table1Id = t1.Id AND t0.attr1 >= 10632153 AND t0.attr1 <= 127429994 AND t0.attr6 <= 6948 AND t1.attr2 >= -19.0 AND t1.attr3 >= 12.0 AND t3.attr3 = 1.0 AND t4.attr0 = 19.0 AND t5.attr2 >= 108872.0 AND t5.attr2 <= 130998281.0 AND t6.attr0 >= 23098947;\n'

true cardinality 990, predicted 2.20019157264512 with q-error 449.96081809812574
predicting query no 1: b'41||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table3 AS t3, table4 AS t4, table5 AS t5, table6 AS t6 WHERE t6.table1Id2 = t1.Id AND t5.table1Id = t1.Id AND t3.table1Id = t1.Id AND t4.table1Id = t1.Id AND t3.table0Id = t0.Id AND t0.attr0 >= 19 AND t1.attr2 <= 192.0 AND t1.attr4 >= 0.0 AND t1.attr5 >= 0.0 AND t1.attr5 <= 45.0 AND t3.attr3 = 16.0 AND t4.attr4 = 6.0 AND t5.attr2 >= 1179241.0 AND t5.attr2 <= 131034236.0 AND t6.attr1 = 3;\n'

true cardinality 41, predicted 1.6197762895365155 with q-error 25.312137401228277
predicting query no 2: b'1292717||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table2 AS t2, table3 AS t3, table4 AS t4, table5 AS t5 WHERE t2.table0Id = t0.Id AND t5.table0Id = t0.Id AND t1.table0Id = t0.Id AND t3.table1Id = t1.Id AND t4.table1Id = t1.Id AND t0.attr0 <= 25123 AND t0.attr6 >= 2 AND t1.attr5 >= 0.0 AND t2.attr0 >= 2518724 AND t2.attr0 <= 128270983 AND t3.attr3 = 15.0 AND t4.attr0 = 25.0 AND t5.attr2 >= 1444809.0;\n'

true cardinality 1292717, predicted 26184.69810850378 with q-error 49.36917716764416
predicting query no 3: b'932||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table3 AS t3, table4 AS t4, table5 AS t5, table6 AS t6 WHERE t6.table1Id2 = t1.Id AND t3.table1Id = t1.Id AND t5.table1Id = t1.Id AND t1.table0Id = t0.Id AND t4.table1Id = t1.Id AND t0.attr5 <= 7357 AND t1.attr2 >= -13.0 AND t3.attr1 >= -45964800.0 AND t4.attr4 = 11.0 AND t5.attr2 <= 131104475.0 AND t6.attr0 >= 32530136 AND t6.attr0 <= 119675628 AND t6.attr1 = 1;\n'

true cardinality 932, predicted 6.2257838357977455 with q-error 149.70002566441138
predicting query no 4: b'89668||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table2 AS t2, table3 AS t3, table4 AS t4, table5 AS t5, table6 AS t6 WHERE t3.table1Id = t1.Id AND t6.table1Id2 = t1.Id AND t4.table1Id = t1.Id AND t5.table1Id = t1.Id AND t5.table0Id = t0.Id AND t2.table0Id = t0.Id AND t0.attr5 >= 3 AND t1.attr2 >= -19.0 AND t1.attr2 <= 192.0 AND t2.attr0 <= 130363568 AND t3.attr1 >= -45964800.0 AND t3.attr1 <= 130896000.0 AND t3.attr3 = 8.0 AND t4.attr1 >= 2015023.0 AND t4.attr1 <= 125055970.0 AND t5.attr2 >= 2332341.0 AND t5.attr2 <= 130877018.0 AND t6.attr1 = 3;\n'

true cardinality 89668, predicted 414.45428697652653 with q-error 216.3519664717053
predicting query no 5: b'26707||SELECT COUNT(*) FROM table1 AS t1, table5 AS t5, table6 AS t6 WHERE t5.table1Id = t1.Id AND t6.table1Id2 = t1.Id AND t1.attr2 <= 192.0 AND t1.attr3 >= 45.0 AND t5.attr1 >= 763998.0 AND t6.attr0 >= 33562214 AND t6.attr0 <= 123191184;\n'

true cardinality 26707, predicted 5169.551616540977 with q-error 5.166212078151189
predicting query no 6: b'836||SELECT COUNT(*) FROM table1 AS t1, table6 AS t6 WHERE t6.table1Id2 = t1.Id AND t1.attr6 >= 0.0 AND t6.attr2 = 3;\n'

true cardinality 836, predicted 440.23576200125575 with q-error 1.8989824820220202
predicting query no 7: b'1564||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table2 AS t2, table3 AS t3, table5 AS t5 WHERE t2.table0Id = t0.Id AND t5.table0Id = t0.Id AND t5.table1Id = t1.Id AND t3.table1Id = t1.Id AND t0.attr1 >= 69701 AND t0.attr2 >= 14 AND t1.attr1 >= 711671.0 AND t1.attr1 <= 131062613.0 AND t1.attr6 <= 233.0 AND t2.attr0 <= 128619383 AND t3.attr1 <= 130896000.0 AND t3.attr3 = 10.0 AND t5.attr1 >= 669871.0;\n'

true cardinality 1564, predicted 3.2337126132155434 with q-error 483.65460604267724
predicting query no 8: b'1034||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table2 AS t2, table3 AS t3, table4 AS t4, table5 AS t5 WHERE t3.table1Id = t1.Id AND t5.table1Id = t1.Id AND t1.table0Id = t0.Id AND t4.table0Id = t0.Id AND t2.table0Id = t0.Id AND t0.attr0 >= 76 AND t0.attr0 <= 25123 AND t0.attr1 >= 9198766 AND t0.attr1 <= 130835253 AND t0.attr5 <= 7395 AND t1.attr3 >= 84.0 AND t2.attr0 >= 3262569 AND t3.attr3 = 9.0 AND t4.attr4 = 14.0 AND t5.attr1 >= 745130.0 AND t5.attr1 <= 130189749.0;\n'

true cardinality 1034, predicted 9.863297308558106 with q-error 104.83309664637476
predicting query no 9: b'3505219||SELECT COUNT(*) FROM table0 AS t0, table2 AS t2, table5 AS t5 WHERE t2.table0Id = t0.Id AND t5.table0Id = t0.Id AND t0.attr1 >= 9828927 AND t0.attr1 <= 130693960 AND t0.attr4 >= 2 AND t2.attr0 <= 128368809 AND t5.attr1 <= 130786293.0;\n'

true cardinality 3505219, predicted 71281.23723201483 with q-error 49.174497190484885
predicting query no 10: b'45570||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table2 AS t2, table3 AS t3, table4 AS t4, table5 AS t5 WHERE t4.table1Id = t1.Id AND t4.table0Id = t0.Id AND t2.table0Id = t0.Id AND t3.table0Id = t0.Id AND t5.table0Id = t0.Id AND t0.attr4 >= 0 AND t0.attr4 <= 412 AND t1.attr6 >= 0.0 AND t1.attr6 <= 233.0 AND t2.attr0 <= 129900774 AND t3.attr0 = 10.0 AND t3.attr1 >= -40003200.0 AND t3.attr1 <= 130982400.0 AND t4.attr1 >= 945328.0 AND t5.attr1 >= 222069.0;\n'

true cardinality 45570, predicted 492121.53317249625 with q-error 10.799243650921577
predicting query no 11: b'34984||SELECT COUNT(*) FROM table0 AS t0, table2 AS t2 WHERE t2.table0Id = t0.Id AND t0.attr0 >= 12 AND t0.attr0 <= 37083 AND t0.attr2 >= 11 AND t0.attr2 <= 3781 AND t0.attr3 <= 8641 AND t2.attr0 >= 2312443 AND t2.attr0 <= 130985018;\n'

true cardinality 34984, predicted 34302.571045201454 with q-error 1.01986524432529
predicting query no 12: b'1033||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table4 AS t4, table5 AS t5, table6 AS t6 WHERE t4.table1Id = t1.Id AND t4.table0Id = t0.Id AND t6.table1Id2 = t1.Id AND t5.table0Id = t0.Id AND t0.attr3 >= 15 AND t0.attr3 <= 11442 AND t1.attr6 >= 2.0 AND t4.attr4 = 38.0 AND t5.attr0 = 15.0 AND t6.attr0 >= 13065240 AND t6.attr0 <= 128446757;\n'

true cardinality 1033, predicted 1 with q-error 1033.0
predicting query no 13: b'29536||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table3 AS t3, table4 AS t4, table5 AS t5, table6 AS t6 WHERE t4.table0Id = t0.Id AND t4.table1Id = t1.Id AND t3.table0Id = t0.Id AND t5.table0Id = t0.Id AND t6.table1Id2 = t1.Id AND t0.attr5 >= 1 AND t0.attr5 <= 1244 AND t1.attr4 <= 136.0 AND t3.attr1 <= 131068800.0 AND t4.attr2 = 12.0 AND t5.attr1 <= 130612270.0 AND t6.attr1 = 3;\n'

true cardinality 29536, predicted 46062.35577466466 with q-error 1.5595326305073356
predicting query no 14: b'14003||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table3 AS t3, table6 AS t6 WHERE t3.table0Id = t0.Id AND t1.table0Id = t0.Id AND t6.table1Id2 = t1.Id AND t0.attr4 >= 0 AND t1.attr5 >= 0.0 AND t1.attr5 <= 45.0 AND t1.attr6 >= 0.0 AND t3.attr0 = 5.0 AND t6.attr2 = 3;\n'

true cardinality 14003, predicted 409.8160365215697 with q-error 34.16898986885543
predicting query no 15: b'720||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table3 AS t3, table4 AS t4, table6 AS t6 WHERE t6.table1Id2 = t1.Id AND t1.table0Id = t0.Id AND t4.table1Id = t1.Id AND t3.table0Id = t0.Id AND t0.attr3 >= 1 AND t0.attr3 <= 11442 AND t0.attr4 >= 2 AND t0.attr4 <= 779 AND t0.attr6 <= 7395 AND t1.attr4 >= 1.0 AND t1.attr4 <= 136.0 AND t3.attr1 >= -45964800.0 AND t4.attr1 <= 127661459.0 AND t4.attr2 = 8.0 AND t6.attr0 <= 124715895;\n'

true cardinality 720, predicted 3.1894632504922824 with q-error 225.74331273102788
predicting query no 16: b'488130||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table2 AS t2, table3 AS t3, table4 AS t4, table5 AS t5, table6 AS t6 WHERE t6.table1Id2 = t1.Id AND t4.table1Id = t1.Id AND t5.table1Id = t1.Id AND t1.table0Id = t0.Id AND t3.table1Id = t1.Id AND t2.table0Id = t0.Id AND t0.attr4 <= 163 AND t1.attr5 >= 0.0 AND t1.attr5 <= 45.0 AND t2.attr0 >= 839334 AND t3.attr0 = 1.0 AND t4.attr1 >= 3754584.0 AND t4.attr1 <= 126821519.0 AND t5.attr2 <= 130597682.0 AND t6.attr0 >= 7194470 AND t6.attr0 <= 130993166 AND t6.attr2 = 1;\n'

true cardinality 488130, predicted 134891.53028521428 with q-error 3.6186853167719226
predicting query no 17: b'69851||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table3 AS t3, table4 AS t4 WHERE t3.table0Id = t0.Id AND t3.table1Id = t1.Id AND t4.table0Id = t0.Id AND t0.attr5 >= 2 AND t0.attr6 >= 4 AND t0.attr6 <= 6948 AND t1.attr1 >= 4007557.0 AND t3.attr1 >= -45446400.0 AND t3.attr1 <= 129600000.0 AND t4.attr3 = 10.0;\n'

true cardinality 69851, predicted 139.33201584257336 with q-error 501.3277068991978

predicting query no 18: b'3420||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table2 AS t2, table3 AS t3, table4 AS t4, table5 AS t5, table6 AS t6 WHERE t2.table0Id = t0.Id AND t1.table0Id = t0.Id AND t4.table0Id = t0.Id AND t3.table0Id = t0.Id AND t6.table1Id2 = t1.Id AND t5.table1Id = t1.Id AND t0.attr3 >= 3 AND t0.attr4 <= 214 AND t1.attr1 >= 100814.0 AND t1.attr5 >= 1.0 AND t1.attr5 <= 45.0 AND t2.attr0 >= 5395110 AND t2.attr0 <= 128696985 AND t3.attr0 = 11.0 AND t3.attr1 >= -40003200.0 AND t3.attr1 <= 131068800.0 AND t4.attr1 >= 2564220.0 AND t4.attr1 <= 129903836.0 AND t5.attr1 >= -649592.0 AND t6.attr0 >= 17901983 AND t6.attr0 <= 130141014;\n'

true cardinality 3420, predicted 609521.5715778255 with q-error 178.2226817479022
predicting query no 19: b'19903||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table2 AS t2, table3 AS t3, table4 AS t4, table5 AS t5, table6 AS t6 WHERE t2.table0Id = t0.Id AND t1.table0Id = t0.Id AND t3.table1Id = t1.Id AND t6.table1Id2 = t1.Id AND t4.table1Id = t1.Id AND t5.table1Id = t1.Id AND t0.attr0 >= 52 AND t0.attr0 <= 37083 AND t0.attr5 >= 4 AND t0.attr5 <= 5025 AND t1.attr2 >= -19.0 AND t2.attr0 <= 130990527 AND t3.attr3 = 3.0 AND t4.attr1 <= 130207555.0 AND t5.attr0 = 14.0 AND t6.attr2 = 1;\n'

true cardinality 19903, predicted 1.319137963688758 with q-error 15087.883563250996
predicting query no 20: b'2||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table3 AS t3, table5 AS t5, table6 AS t6 WHERE t5.table0Id = t0.Id AND t5.table1Id = t1.Id AND t3.table1Id = t1.Id AND t6.table1Id2 = t1.Id AND t0.attr1 <= 130448551 AND t1.attr3 >= 101.0 AND t1.attr3 <= 29151.0 AND t1.attr5 <= 45.0 AND t3.attr0 = 7.0 AND t5.attr1 >= 683478.0 AND t6.attr0 >= 19187507;\n'

true cardinality 2, predicted 1.9862282100566482 with q-error 1.006933639283554
predicting query no 21: b'574603||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table5 AS t5 WHERE t1.table0Id = t0.Id AND t5.table0Id = t0.Id AND t0.attr1 >= 700633 AND t0.attr2 >= 13 AND t0.attr2 <= 7357 AND t1.attr6 >= 1.0 AND t1.attr6 <= 233.0 AND t5.attr2 >= 3925594.0;\n'

true cardinality 574603, predicted 423368.21374245523 with q-error 1.357218093726669
predicting query no 22: b'96||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table3 AS t3, table5 AS t5 WHERE t3.table0Id = t0.Id AND t3.table1Id = t1.Id AND t5.table0Id = t0.Id AND t0.attr4 <= 1920 AND t1.attr6 <= 190.0 AND t3.attr0 = 16.0 AND t5.attr1 >= 3712218.0 AND t5.attr1 <= 131008914.0;\n'

true cardinality 96, predicted 28.375429618298153 with q-error 3.3832086876349363
predicting query no 23: b'208528||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table3 AS t3 WHERE t3.table0Id = t0.Id AND t1.table0Id = t0.Id AND t0.attr2 <= 7395 AND t0.attr5 <= 6948 AND t1.attr6 >= 0.0 AND t3.attr1 >= -45964800.0;\n'

true cardinality 208528, predicted 133439.28187124757 with q-error 1.56271824215304
predicting query no 24: b'28547||SELECT COUNT(*) FROM table0 AS t0, table2 AS t2, table3 AS t3, table4 AS t4 WHERE t2.table0Id = t0.Id AND t4.table0Id = t0.Id AND t3.table0Id = t0.Id AND t0.attr1 >= 8491678 AND t0.attr1 <= 130317985 AND t0.attr2 <= 1660 AND t0.attr6 <= 5529 AND t2.attr0 >= 329599 AND t2.attr0 <= 129776870 AND t3.attr1 >= -45878400.0 AND t3.attr1 <= 130291200.0 AND t4.attr2 = 38.0;\n'

true cardinality 28547, predicted 1940.77239069883 with q-error 14.709092182479392
predicting query no 25: b'11||SELECT COUNT(*) FROM table1 AS t1, table3 AS t3, table4 AS t4, table6 AS t6 WHERE t3.table1Id = t1.Id AND t4.table1Id = t1.Id AND t6.table1Id2 = t1.Id AND t1.attr0 = 2.0 AND t1.attr1 >= 157857.0 AND t3.attr1 <= 130982400.0 AND t4.attr0 = 36.0 AND t4.attr1 <= 127654444.0 AND t4.attr2 = 5.0 AND t6.attr2 = 1;\n'

true cardinality 11, predicted 2.1924524136953147 with q-error 5.0172126570627915
predicting query no 26: b'29647||SELECT COUNT(*) FROM table0 AS t0, table3 AS t3 WHERE t3.table0Id = t0.Id AND t0.attr2 >= 6 AND t0.attr2 <= 5441 AND t3.attr1 >= -45964800.0;\n'

true cardinality 29647, predicted 29639.953522045387 with q-error 1.0002377357963592
predicting query no 27: b'768||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table2 AS t2, table3 AS t3, table5 AS t5, table6 AS t6 WHERE t5.table0Id = t0.Id AND t5.table1Id = t1.Id AND t2.table0Id = t0.Id AND t6.table1Id2 = t1.Id AND t3.table1Id = t1.Id AND t0.attr1 >= 22899528 AND t1.attr2 <= 184.0 AND t2.attr0 <= 131054199 AND t3.attr3 = 15.0 AND t5.attr0 = 6.0 AND t6.attr2 = 1;\n'

true cardinality 768, predicted 10.832463191604017 with q-error 70.89800227479734
predicting query no 28: b'395226||SELECT COUNT(*) FROM table0 AS t0, table2 AS t2, table4 AS t4 WHERE t4.table0Id = t0.Id AND t2.table0Id = t0.Id AND t0.attr3 >= 7 AND t2.attr0 >= 74346 AND t4.attr1 <= 128826740.0 AND t4.attr4 = 10.0;\n'

true cardinality 395226, predicted 2129.731764971803 with q-error 185.57548255624232
predicting query no 29: b'77678||SELECT COUNT(*) FROM table0 AS t0, table5 AS t5 WHERE t5.table0Id = t0.Id AND t0.attr0 >= 22 AND t0.attr0 <= 6216 AND t0.attr1 <= 130283919 AND t5.attr1 >= 7864559.0;\n'

true cardinality 77678, predicted 70480.9308405216 with q-error 1.1021137075468446
predicting query no 30: b'3955303||SELECT COUNT(*) FROM table0 AS t0, table2 AS t2, table4 AS t4 WHERE t2.table0Id = t0.Id AND t4.table0Id = t0.Id AND t0.attr0 >= 3 AND t2.attr0 >= 910445 AND t4.attr1 <= 130386861.0 AND t4.attr2 = 2.0;\n'

true cardinality 3955303, predicted 339463.5102901933 with q-error 11.651629350732794
predicting query no 31: b'96713||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table3 AS t3, table5 AS t5, table6 AS t6 WHERE t5.table0Id = t0.Id AND t5.table1Id = t1.Id AND t3.table0Id = t0.Id AND t6.table1Id2 = t1.Id AND t0.attr1 <= 129872841 AND t1.attr1 >= 2553539.0 AND t1.attr1 <= 130350585.0 AND t1.attr5 >= 0.0 AND t1.attr5 <= 45.0 AND t3.attr1 <= 130896000.0 AND t5.attr1 >= 164028.0 AND t6.attr1 = 1 AND t6.attr2 = 3;\n'

true cardinality 96713, predicted 35184.31248204565 with q-error 2.7487534408794283
predicting query no 32: b'6761||SELECT COUNT(*) FROM table1 AS t1, table3 AS t3 WHERE t3.table1Id = t1.Id AND t1.attr1 <= 130748792.0 AND t3.attr3 = 3.0;\n'

true cardinality 6761, predicted 6687.362650929562 with q-error 1.011011418538847
predicting query no 33: b'2970013||SELECT COUNT(*) FROM table0 AS t0, table2 AS t2, table5 AS t5 WHERE t5.table0Id = t0.Id AND t2.table0Id = t0.Id AND t0.attr2 <= 2866 AND t2.attr0 >= 5395110 AND t5.attr2 >= 774376.0 AND t5.attr2 <= 130807117.0;\n'

true cardinality 2970013, predicted 940776.0758137678 with q-error 3.15698185397726
predicting query no 34: b'11948||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1 WHERE t1.table0Id = t0.Id AND t0.attr6 >= 11 AND t1.attr4 >= 0.0 AND t1.attr4 <= 136.0;\n'

true cardinality 11948, predicted 12815.29626722815 with q-error 1.0725892423190617
predicting query no 35: b'381||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table3 AS t3, table4 AS t4 WHERE t4.table0Id = t0.Id AND t3.table0Id = t0.Id AND t1.table0Id = t0.Id AND t0.attr2 >= 5 AND t0.attr2 <= 5680 AND t1.attr2 <= 184.0 AND t1.attr3 >= 13.0 AND t1.attr3 <= 16229.0 AND t1.attr4 <= 136.0 AND t1.attr6 <= 233.0 AND t3.attr0 = 9.0 AND t4.attr1 >= 8067204.0 AND t4.attr1 <= 130543363.0;\n'

true cardinality 381, predicted 153.0386489526058 with q-error 2.489567195003081
predicting query no 36: b'16||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table2 AS t2, table3 AS t3, table4 AS t4 WHERE t2.table0Id = t0.Id AND t3.table0Id = t0.Id AND t4.table0Id = t0.Id AND t4.table1Id = t1.Id AND t0.attr2 <= 7357 AND t0.attr5 <= 5025 AND t0.attr6 <= 1101 AND t1.attr0 = 1.0 AND t1.attr6 >= 0.0 AND t2.attr0 >= 147251 AND t2.attr0 <= 129685657 AND t3.attr3 = 9.0 AND t4.attr3 = 13.0;\n'

true cardinality 16, predicted 3.240764759417532 with q-error 4.937106265891297
predicting query no 37: b'237490||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table2 AS t2, table4 AS t4, table5 AS t5 WHERE t4.table1Id = t1.Id AND t5.table1Id = t1.Id AND t5.table0Id = t0.Id AND t2.table0Id = t0.Id AND t0.attr0 >= 1 AND t0.attr6 >= 3 AND t1.attr5 <= 41.0 AND t2.attr0 >= 103448 AND t2.attr0 <= 130561510 AND t4.attr2 = 33.0 AND t5.attr1 >= 369826.0 AND t5.attr1 <= 131035172.0;\n'

true cardinality 237490, predicted 5455.74407515467 with q-error 43.53026768273898
predicting query no 38: b'3072||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table2 AS t2, table3 AS t3, table4 AS t4, table5 AS t5, table6 AS t6 WHERE t2.table0Id = t0.Id AND t5.table0Id = t0.Id AND t3.table0Id = t0.Id AND t1.table0Id = t0.Id AND t6.table1Id2 = t1.Id AND t4.table1Id = t1.Id AND t0.attr3 >= 6 AND t1.attr4 >= 1.0 AND t2.attr0 <= 130455655 AND t3.attr1 >= -45964800.0 AND t3.attr1 <= 130464000.0 AND t4.attr1 <= 130254945.0 AND t4.attr3 = 8.0 AND t4.attr4 = 3.0 AND t5.attr2 >= 118606.0 AND t6.attr0 >= 24658873 AND t6.attr0 <= 130786995;\n'

true cardinality 3072, predicted 35355.319222820624 with q-error 11.508892976178588
predicting query no 39: b'34||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table4 AS t4, table5 AS t5 WHERE t5.table0Id = t0.Id AND t5.table1Id = t1.Id AND t4.table0Id = t0.Id AND t0.attr0 >= 23 AND t0.attr4 >= 1 AND t0.attr4 <= 1920 AND t1.attr2 <= 184.0 AND t1.attr3 >= 44.0 AND t4.attr2 = 15.0 AND t5.attr0 = 8.0;\n'

true cardinality 34, predicted 1 with q-error 34.0
=====================================================================================
q-error 50% percentile is 11.580261163455692
q-error 90% percentile is 453.33019689258094
q-error 95% percentile is 527.9113215542363
q-error 99% percentile is 9606.4789735831
q-error 100% percentile is 15087.883563250996
average latency is 21.615070104599 ms