In [1]:
import pandas as pd
import pickle
import sys
import os
import time
import numpy as np
sys.path.append("/home/ziniu.wzn/BayesCard")
from DataPrepare.schemas import gen_DB0_schema
schema = gen_DB0_schema("/home/ziniu.wzn/AttEst_support/")
ensemble_location = "/home/ziniu.wzn/AttEst_support/DB0/BN_ensemble/"
from DataPrepare.query_prepare_BayesCard import prepare_join_queries

In [2]:
query_filename = "/home/ziniu.wzn/AttEst_support/DB0/join_queries.sql"
parsed_queries, true = prepare_join_queries(schema, ensemble_location, pairwise_rdc_path=None, 
                                            query_filename=query_filename, true_card_exist=True)

In [3]:
from Models.BN_ensemble_model import BN_ensemble
def load_ensemble(schema, model_path=ensemble_location):
    bn_ensemble = BN_ensemble(schema)
    for file in os.listdir(model_path):
        if file.endswith(".pkl"):
            print(file)
            with open(model_path+file, "rb") as f:
                bn = pickle.load(f)
                bn.infer_algo = "exact-jit"
                bn.init_inference_method()
            bn_ensemble.bns.append(bn)
            #bn_ensemble.bns[int(file[0])] = bn
    return bn_ensemble
bn_ensemble = load_ensemble(schema)

2_chow-liu_1.pkl
4_chow-liu_1.pkl
8_chow-liu_1.pkl
3_chow-liu_1.pkl
1_chow-liu_1.pkl
6_chow-liu_1.pkl
7_chow-liu_1.pkl
9_chow-liu_1.pkl
5_chow-liu_1.pkl
0_chow-liu_1.pkl

In [4]:
with open(query_filename, "rb") as f:
    real_query = f.readlines()
queries = bn_ensemble.parse_query_all(parsed_queries)

In [5]:
latency = []
q_errors = []
for i, q in enumerate(queries):
    tic = time.time()
    try:
        pred = bn_ensemble.cardinality(q)
    except:
        print(f"query {i} is invalid!!!!!!!!!!!!!!!!!!!!!!!!!!!")
        # this query itself is invalid or it is not recognizable by the learnt BN
        continue
    latency.append(time.time() - tic)
    if pred is None or pred <= 1:
        pred = 1
    error = max(pred / true[i], true[i] / pred)
    print(f"predicting query no {i}: {real_query[i]} \n")
    print(f"true cardinality {true[i]}, predicted {pred} with q-error {error}")
    q_errors.append(error)
print("=====================================================================================")
for i in [50, 90, 95, 99, 100]:
    print(f"q-error {i}% percentile is {np.percentile(q_errors, i)}")
print(f"average latency is {np.mean(latency)*1000} ms")

predicting query no 0: b'990||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table3 AS t3, table4 AS t4, table5 AS t5, table6 AS t6 WHERE t5.table0Id = t0.Id AND t3.table0Id = t0.Id AND t1.table0Id = t0.Id AND t6.table1Id2 = t1.Id AND t4.table1Id = t1.Id AND t0.attr1 >= 10632153 AND t0.attr1 <= 127429994 AND t0.attr6 <= 6948 AND t1.attr2 >= -19.0 AND t1.attr3 >= 12.0 AND t3.attr3 = 1.0 AND t4.attr0 = 19.0 AND t5.attr2 >= 108872.0 AND t5.attr2 <= 130998281.0 AND t6.attr0 >= 23098947;\n'

true cardinality 990, predicted 58.956711131027426 with q-error 16.791981455678386
predicting query no 1: b'41||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table3 AS t3, table4 AS t4, table5 AS t5, table6 AS t6 WHERE t6.table1Id2 = t1.Id AND t5.table1Id = t1.Id AND t3.table1Id = t1.Id AND t4.table1Id = t1.Id AND t3.table0Id = t0.Id AND t0.attr0 >= 19 AND t1.attr2 <= 192.0 AND t1.attr4 >= 0.0 AND t1.attr5 >= 0.0 AND t1.attr5 <= 45.0 AND t3.attr3 = 16.0 AND t4.attr4 = 6.0 AND t5.attr2 >= 1179241.0 AND t5.attr2 <= 131034236.0 AND t6.attr1 = 3;\n'

true cardinality 41, predicted 29.385798481338487 with q-error 1.3952317826598157
predicting query no 2: b'1292717||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table2 AS t2, table3 AS t3, table4 AS t4, table5 AS t5 WHERE t2.table0Id = t0.Id AND t5.table0Id = t0.Id AND t1.table0Id = t0.Id AND t3.table1Id = t1.Id AND t4.table1Id = t1.Id AND t0.attr0 <= 25123 AND t0.attr6 >= 2 AND t1.attr5 >= 0.0 AND t2.attr0 >= 2518724 AND t2.attr0 <= 128270983 AND t3.attr3 = 15.0 AND t4.attr0 = 25.0 AND t5.attr2 >= 1444809.0;\n'

true cardinality 1292717, predicted 1004078.8804908881 with q-error 1.287465581755886
predicting query no 3: b'932||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table3 AS t3, table4 AS t4, table5 AS t5, table6 AS t6 WHERE t6.table1Id2 = t1.Id AND t3.table1Id = t1.Id AND t5.table1Id = t1.Id AND t1.table0Id = t0.Id AND t4.table1Id = t1.Id AND t0.attr5 <= 7357 AND t1.attr2 >= -13.0 AND t3.attr1 >= -45964800.0 AND t4.attr4 = 11.0 AND t5.attr2 <= 131104475.0 AND t6.attr0 >= 32530136 AND t6.attr0 <= 119675628 AND t6.attr1 = 1;\n'

true cardinality 932, predicted 2065.518027362937 with q-error 2.216221059402293
predicting query no 4: b'89668||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table2 AS t2, table3 AS t3, table4 AS t4, table5 AS t5, table6 AS t6 WHERE t3.table1Id = t1.Id AND t6.table1Id2 = t1.Id AND t4.table1Id = t1.Id AND t5.table1Id = t1.Id AND t5.table0Id = t0.Id AND t2.table0Id = t0.Id AND t0.attr5 >= 3 AND t1.attr2 >= -19.0 AND t1.attr2 <= 192.0 AND t2.attr0 <= 130363568 AND t3.attr1 >= -45964800.0 AND t3.attr1 <= 130896000.0 AND t3.attr3 = 8.0 AND t4.attr1 >= 2015023.0 AND t4.attr1 <= 125055970.0 AND t5.attr2 >= 2332341.0 AND t5.attr2 <= 130877018.0 AND t6.attr1 = 3;\n'

true cardinality 89668, predicted 68083.97903478416 with q-error 1.3170205571297258
predicting query no 5: b'26707||SELECT COUNT(*) FROM table1 AS t1, table5 AS t5, table6 AS t6 WHERE t5.table1Id = t1.Id AND t6.table1Id2 = t1.Id AND t1.attr2 <= 192.0 AND t1.attr3 >= 45.0 AND t5.attr1 >= 763998.0 AND t6.attr0 >= 33562214 AND t6.attr0 <= 123191184;\n'

true cardinality 26707, predicted 15479.264778526045 with q-error 1.7253403428468954
predicting query no 6: b'836||SELECT COUNT(*) FROM table1 AS t1, table6 AS t6 WHERE t6.table1Id2 = t1.Id AND t1.attr6 >= 0.0 AND t6.attr2 = 3;\n'

true cardinality 836, predicted 440.23576200125575 with q-error 1.8989824820220202
predicting query no 7: b'1564||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table2 AS t2, table3 AS t3, table5 AS t5 WHERE t2.table0Id = t0.Id AND t5.table0Id = t0.Id AND t5.table1Id = t1.Id AND t3.table1Id = t1.Id AND t0.attr1 >= 69701 AND t0.attr2 >= 14 AND t1.attr1 >= 711671.0 AND t1.attr1 <= 131062613.0 AND t1.attr6 <= 233.0 AND t2.attr0 <= 128619383 AND t3.attr1 <= 130896000.0 AND t3.attr3 = 10.0 AND t5.attr1 >= 669871.0;\n'

true cardinality 1564, predicted 95.27617535426292 with q-error 16.415436431874177
predicting query no 8: b'1034||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table2 AS t2, table3 AS t3, table4 AS t4, table5 AS t5 WHERE t3.table1Id = t1.Id AND t5.table1Id = t1.Id AND t1.table0Id = t0.Id AND t4.table0Id = t0.Id AND t2.table0Id = t0.Id AND t0.attr0 >= 76 AND t0.attr0 <= 25123 AND t0.attr1 >= 9198766 AND t0.attr1 <= 130835253 AND t0.attr5 <= 7395 AND t1.attr3 >= 84.0 AND t2.attr0 >= 3262569 AND t3.attr3 = 9.0 AND t4.attr4 = 14.0 AND t5.attr1 >= 745130.0 AND t5.attr1 <= 130189749.0;\n'

true cardinality 1034, predicted 604.7149011720933 with q-error 1.7098966769230286
predicting query no 9: b'3505219||SELECT COUNT(*) FROM table0 AS t0, table2 AS t2, table5 AS t5 WHERE t2.table0Id = t0.Id AND t5.table0Id = t0.Id AND t0.attr1 >= 9828927 AND t0.attr1 <= 130693960 AND t0.attr4 >= 2 AND t2.attr0 <= 128368809 AND t5.attr1 <= 130786293.0;\n'

true cardinality 3505219, predicted 4042162.1329039615 with q-error 1.15318390460167
predicting query no 10: b'45570||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table2 AS t2, table3 AS t3, table4 AS t4, table5 AS t5 WHERE t4.table1Id = t1.Id AND t4.table0Id = t0.Id AND t2.table0Id = t0.Id AND t3.table0Id = t0.Id AND t5.table0Id = t0.Id AND t0.attr4 >= 0 AND t0.attr4 <= 412 AND t1.attr6 >= 0.0 AND t1.attr6 <= 233.0 AND t2.attr0 <= 129900774 AND t3.attr0 = 10.0 AND t3.attr1 >= -40003200.0 AND t3.attr1 <= 130982400.0 AND t4.attr1 >= 945328.0 AND t5.attr1 >= 222069.0;\n'

true cardinality 45570, predicted 162873456.67021635 with q-error 3574.137736893051
predicting query no 11: b'34984||SELECT COUNT(*) FROM table0 AS t0, table2 AS t2 WHERE t2.table0Id = t0.Id AND t0.attr0 >= 12 AND t0.attr0 <= 37083 AND t0.attr2 >= 11 AND t0.attr2 <= 3781 AND t0.attr3 <= 8641 AND t2.attr0 >= 2312443 AND t2.attr0 <= 130985018;\n'

true cardinality 34984, predicted 34302.571045201454 with q-error 1.01986524432529
predicting query no 12: b'1033||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table4 AS t4, table5 AS t5, table6 AS t6 WHERE t4.table1Id = t1.Id AND t4.table0Id = t0.Id AND t6.table1Id2 = t1.Id AND t5.table0Id = t0.Id AND t0.attr3 >= 15 AND t0.attr3 <= 11442 AND t1.attr6 >= 2.0 AND t4.attr4 = 38.0 AND t5.attr0 = 15.0 AND t6.attr0 >= 13065240 AND t6.attr0 <= 128446757;\n'

true cardinality 1033, predicted 11.991229789015248 with q-error 86.14629343074516
predicting query no 13: b'29536||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table3 AS t3, table4 AS t4, table5 AS t5, table6 AS t6 WHERE t4.table0Id = t0.Id AND t4.table1Id = t1.Id AND t3.table0Id = t0.Id AND t5.table0Id = t0.Id AND t6.table1Id2 = t1.Id AND t0.attr5 >= 1 AND t0.attr5 <= 1244 AND t1.attr4 <= 136.0 AND t3.attr1 <= 131068800.0 AND t4.attr2 = 12.0 AND t5.attr1 <= 130612270.0 AND t6.attr1 = 3;\n'

true cardinality 29536, predicted 510831.24188415107 with q-error 17.295207268558745
predicting query no 14: b'14003||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table3 AS t3, table6 AS t6 WHERE t3.table0Id = t0.Id AND t1.table0Id = t0.Id AND t6.table1Id2 = t1.Id AND t0.attr4 >= 0 AND t1.attr5 >= 0.0 AND t1.attr5 <= 45.0 AND t1.attr6 >= 0.0 AND t3.attr0 = 5.0 AND t6.attr2 = 3;\n'

true cardinality 14003, predicted 409.8160365215697 with q-error 34.16898986885543
predicting query no 15: b'720||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table3 AS t3, table4 AS t4, table6 AS t6 WHERE t6.table1Id2 = t1.Id AND t1.table0Id = t0.Id AND t4.table1Id = t1.Id AND t3.table0Id = t0.Id AND t0.attr3 >= 1 AND t0.attr3 <= 11442 AND t0.attr4 >= 2 AND t0.attr4 <= 779 AND t0.attr6 <= 7395 AND t1.attr4 >= 1.0 AND t1.attr4 <= 136.0 AND t3.attr1 >= -45964800.0 AND t4.attr1 <= 127661459.0 AND t4.attr2 = 8.0 AND t6.attr0 <= 124715895;\n'

true cardinality 720, predicted 22.6699054650964 with q-error 31.760167730233558
predicting query no 16: b'488130||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table2 AS t2, table3 AS t3, table4 AS t4, table5 AS t5, table6 AS t6 WHERE t6.table1Id2 = t1.Id AND t4.table1Id = t1.Id AND t5.table1Id = t1.Id AND t1.table0Id = t0.Id AND t3.table1Id = t1.Id AND t2.table0Id = t0.Id AND t0.attr4 <= 163 AND t1.attr5 >= 0.0 AND t1.attr5 <= 45.0 AND t2.attr0 >= 839334 AND t3.attr0 = 1.0 AND t4.attr1 >= 3754584.0 AND t4.attr1 <= 126821519.0 AND t5.attr2 <= 130597682.0 AND t6.attr0 >= 7194470 AND t6.attr0 <= 130993166 AND t6.attr2 = 1;\n'

true cardinality 488130, predicted 5133344.082374288 with q-error 10.516346224108922

predicting query no 17: b'69851||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table3 AS t3, table4 AS t4 WHERE t3.table0Id = t0.Id AND t3.table1Id = t1.Id AND t4.table0Id = t0.Id AND t0.attr5 >= 2 AND t0.attr6 >= 4 AND t0.attr6 <= 6948 AND t1.attr1 >= 4007557.0 AND t3.attr1 >= -45446400.0 AND t3.attr1 <= 129600000.0 AND t4.attr3 = 10.0;\n'

true cardinality 69851, predicted 18639.2593151546 with q-error 3.747520157263322
predicting query no 18: b'3420||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table2 AS t2, table3 AS t3, table4 AS t4, table5 AS t5, table6 AS t6 WHERE t2.table0Id = t0.Id AND t1.table0Id = t0.Id AND t4.table0Id = t0.Id AND t3.table0Id = t0.Id AND t6.table1Id2 = t1.Id AND t5.table1Id = t1.Id AND t0.attr3 >= 3 AND t0.attr4 <= 214 AND t1.attr1 >= 100814.0 AND t1.attr5 >= 1.0 AND t1.attr5 <= 45.0 AND t2.attr0 >= 5395110 AND t2.attr0 <= 128696985 AND t3.attr0 = 11.0 AND t3.attr1 >= -40003200.0 AND t3.attr1 <= 131068800.0 AND t4.attr1 >= 2564220.0 AND t4.attr1 <= 129903836.0 AND t5.attr1 >= -649592.0 AND t6.attr0 >= 17901983 AND t6.attr0 <= 130141014;\n'

true cardinality 3420, predicted 107876682.70058529 with q-error 31542.88967853371
predicting query no 19: b'19903||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table2 AS t2, table3 AS t3, table4 AS t4, table5 AS t5, table6 AS t6 WHERE t2.table0Id = t0.Id AND t1.table0Id = t0.Id AND t3.table1Id = t1.Id AND t6.table1Id2 = t1.Id AND t4.table1Id = t1.Id AND t5.table1Id = t1.Id AND t0.attr0 >= 52 AND t0.attr0 <= 37083 AND t0.attr5 >= 4 AND t0.attr5 <= 5025 AND t1.attr2 >= -19.0 AND t2.attr0 <= 130990527 AND t3.attr3 = 3.0 AND t4.attr1 <= 130207555.0 AND t5.attr0 = 14.0 AND t6.attr2 = 1;\n'

true cardinality 19903, predicted 53.896720844116636 with q-error 369.28035116579105
predicting query no 20: b'2||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table3 AS t3, table5 AS t5, table6 AS t6 WHERE t5.table0Id = t0.Id AND t5.table1Id = t1.Id AND t3.table1Id = t1.Id AND t6.table1Id2 = t1.Id AND t0.attr1 <= 130448551 AND t1.attr3 >= 101.0 AND t1.attr3 <= 29151.0 AND t1.attr5 <= 45.0 AND t3.attr0 = 7.0 AND t5.attr1 >= 683478.0 AND t6.attr0 >= 19187507;\n'

true cardinality 2, predicted 8.719446963213377 with q-error 4.3597234816066885
predicting query no 21: b'574603||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table5 AS t5 WHERE t1.table0Id = t0.Id AND t5.table0Id = t0.Id AND t0.attr1 >= 700633 AND t0.attr2 >= 13 AND t0.attr2 <= 7357 AND t1.attr6 >= 1.0 AND t1.attr6 <= 233.0 AND t5.attr2 >= 3925594.0;\n'

true cardinality 574603, predicted 3059853.206589 with q-error 5.325160513587642
predicting query no 22: b'96||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table3 AS t3, table5 AS t5 WHERE t3.table0Id = t0.Id AND t3.table1Id = t1.Id AND t5.table0Id = t0.Id AND t0.attr4 <= 1920 AND t1.attr6 <= 190.0 AND t3.attr0 = 16.0 AND t5.attr1 >= 3712218.0 AND t5.attr1 <= 131008914.0;\n'

true cardinality 96, predicted 923.0505164396336 with q-error 9.615109546246183
predicting query no 23: b'208528||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table3 AS t3 WHERE t3.table0Id = t0.Id AND t1.table0Id = t0.Id AND t0.attr2 <= 7395 AND t0.attr5 <= 6948 AND t1.attr6 >= 0.0 AND t3.attr1 >= -45964800.0;\n'

true cardinality 208528, predicted 377709.9602364407 with q-error 1.8113153161035482
predicting query no 24: b'28547||SELECT COUNT(*) FROM table0 AS t0, table2 AS t2, table3 AS t3, table4 AS t4 WHERE t2.table0Id = t0.Id AND t4.table0Id = t0.Id AND t3.table0Id = t0.Id AND t0.attr1 >= 8491678 AND t0.attr1 <= 130317985 AND t0.attr2 <= 1660 AND t0.attr6 <= 5529 AND t2.attr0 >= 329599 AND t2.attr0 <= 129776870 AND t3.attr1 >= -45878400.0 AND t3.attr1 <= 130291200.0 AND t4.attr2 = 38.0;\n'

true cardinality 28547, predicted 26468.657815629078 with q-error 1.0785208754764932
predicting query no 25: b'11||SELECT COUNT(*) FROM table1 AS t1, table3 AS t3, table4 AS t4, table6 AS t6 WHERE t3.table1Id = t1.Id AND t4.table1Id = t1.Id AND t6.table1Id2 = t1.Id AND t1.attr0 = 2.0 AND t1.attr1 >= 157857.0 AND t3.attr1 <= 130982400.0 AND t4.attr0 = 36.0 AND t4.attr1 <= 127654444.0 AND t4.attr2 = 5.0 AND t6.attr2 = 1;\n'

true cardinality 11, predicted 18.900782432782925 with q-error 1.7182529484348115
predicting query no 26: b'29647||SELECT COUNT(*) FROM table0 AS t0, table3 AS t3 WHERE t3.table0Id = t0.Id AND t0.attr2 >= 6 AND t0.attr2 <= 5441 AND t3.attr1 >= -45964800.0;\n'

true cardinality 29647, predicted 29639.953522045387 with q-error 1.0002377357963592
predicting query no 27: b'768||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table2 AS t2, table3 AS t3, table5 AS t5, table6 AS t6 WHERE t5.table0Id = t0.Id AND t5.table1Id = t1.Id AND t2.table0Id = t0.Id AND t6.table1Id2 = t1.Id AND t3.table1Id = t1.Id AND t0.attr1 >= 22899528 AND t1.attr2 <= 184.0 AND t2.attr0 <= 131054199 AND t3.attr3 = 15.0 AND t5.attr0 = 6.0 AND t6.attr2 = 1;\n'

true cardinality 768, predicted 171.77801263253698 with q-error 4.47088651353119
predicting query no 28: b'395226||SELECT COUNT(*) FROM table0 AS t0, table2 AS t2, table4 AS t4 WHERE t4.table0Id = t0.Id AND t2.table0Id = t0.Id AND t0.attr3 >= 7 AND t2.attr0 >= 74346 AND t4.attr1 <= 128826740.0 AND t4.attr4 = 10.0;\n'

true cardinality 395226, predicted 120744.48110715965 with q-error 3.273242771644697
predicting query no 29: b'77678||SELECT COUNT(*) FROM table0 AS t0, table5 AS t5 WHERE t5.table0Id = t0.Id AND t0.attr0 >= 22 AND t0.attr0 <= 6216 AND t0.attr1 <= 130283919 AND t5.attr1 >= 7864559.0;\n'

true cardinality 77678, predicted 70480.9308405216 with q-error 1.1021137075468446
predicting query no 30: b'3955303||SELECT COUNT(*) FROM table0 AS t0, table2 AS t2, table4 AS t4 WHERE t2.table0Id = t0.Id AND t4.table0Id = t0.Id AND t0.attr0 >= 3 AND t2.attr0 >= 910445 AND t4.attr1 <= 130386861.0 AND t4.attr2 = 2.0;\n'

true cardinality 3955303, predicted 4705777.018652576 with q-error 1.1897386922449622
predicting query no 31: b'96713||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table3 AS t3, table5 AS t5, table6 AS t6 WHERE t5.table0Id = t0.Id AND t5.table1Id = t1.Id AND t3.table0Id = t0.Id AND t6.table1Id2 = t1.Id AND t0.attr1 <= 129872841 AND t1.attr1 >= 2553539.0 AND t1.attr1 <= 130350585.0 AND t1.attr5 >= 0.0 AND t1.attr5 <= 45.0 AND t3.attr1 <= 130896000.0 AND t5.attr1 >= 164028.0 AND t6.attr1 = 1 AND t6.attr2 = 3;\n'

true cardinality 96713, predicted 64980.9790860721 with q-error 1.4883278362410715
predicting query no 32: b'6761||SELECT COUNT(*) FROM table1 AS t1, table3 AS t3 WHERE t3.table1Id = t1.Id AND t1.attr1 <= 130748792.0 AND t3.attr3 = 3.0;\n'

true cardinality 6761, predicted 6687.362650929562 with q-error 1.011011418538847
predicting query no 33: b'2970013||SELECT COUNT(*) FROM table0 AS t0, table2 AS t2, table5 AS t5 WHERE t5.table0Id = t0.Id AND t2.table0Id = t0.Id AND t0.attr2 <= 2866 AND t2.attr0 >= 5395110 AND t5.attr2 >= 774376.0 AND t5.attr2 <= 130807117.0;\n'

true cardinality 2970013, predicted 3667365.8857456935 with q-error 1.2347979236945068
predicting query no 34: b'11948||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1 WHERE t1.table0Id = t0.Id AND t0.attr6 >= 11 AND t1.attr4 >= 0.0 AND t1.attr4 <= 136.0;\n'

true cardinality 11948, predicted 12815.29626722815 with q-error 1.0725892423190617
predicting query no 35: b'381||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table3 AS t3, table4 AS t4 WHERE t4.table0Id = t0.Id AND t3.table0Id = t0.Id AND t1.table0Id = t0.Id AND t0.attr2 >= 5 AND t0.attr2 <= 5680 AND t1.attr2 <= 184.0 AND t1.attr3 >= 13.0 AND t1.attr3 <= 16229.0 AND t1.attr4 <= 136.0 AND t1.attr6 <= 233.0 AND t3.attr0 = 9.0 AND t4.attr1 >= 8067204.0 AND t4.attr1 <= 130543363.0;\n'

true cardinality 381, predicted 18152.110592759025 with q-error 47.6433348891313
predicting query no 36: b'16||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table2 AS t2, table3 AS t3, table4 AS t4 WHERE t2.table0Id = t0.Id AND t3.table0Id = t0.Id AND t4.table0Id = t0.Id AND t4.table1Id = t1.Id AND t0.attr2 <= 7357 AND t0.attr5 <= 5025 AND t0.attr6 <= 1101 AND t1.attr0 = 1.0 AND t1.attr6 >= 0.0 AND t2.attr0 >= 147251 AND t2.attr0 <= 129685657 AND t3.attr3 = 9.0 AND t4.attr3 = 13.0;\n'

true cardinality 16, predicted 272.9705692355576 with q-error 17.06066057722235
predicting query no 37: b'237490||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table2 AS t2, table4 AS t4, table5 AS t5 WHERE t4.table1Id = t1.Id AND t5.table1Id = t1.Id AND t5.table0Id = t0.Id AND t2.table0Id = t0.Id AND t0.attr0 >= 1 AND t0.attr6 >= 3 AND t1.attr5 <= 41.0 AND t2.attr0 >= 103448 AND t2.attr0 <= 130561510 AND t4.attr2 = 33.0 AND t5.attr1 >= 369826.0 AND t5.attr1 <= 131035172.0;\n'

true cardinality 237490, predicted 59417.660875515365 with q-error 3.9969597675270334

predicting query no 38: b'3072||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table2 AS t2, table3 AS t3, table4 AS t4, table5 AS t5, table6 AS t6 WHERE t2.table0Id = t0.Id AND t5.table0Id = t0.Id AND t3.table0Id = t0.Id AND t1.table0Id = t0.Id AND t6.table1Id2 = t1.Id AND t4.table1Id = t1.Id AND t0.attr3 >= 6 AND t1.attr4 >= 1.0 AND t2.attr0 <= 130455655 AND t3.attr1 >= -45964800.0 AND t3.attr1 <= 130464000.0 AND t4.attr1 <= 130254945.0 AND t4.attr3 = 8.0 AND t4.attr4 = 3.0 AND t5.attr2 >= 118606.0 AND t6.attr0 >= 24658873 AND t6.attr0 <= 130786995;\n'

true cardinality 3072, predicted 65789250.13844612 with q-error 21415.771529442096
predicting query no 39: b'34||SELECT COUNT(*) FROM table0 AS t0, table1 AS t1, table4 AS t4, table5 AS t5 WHERE t5.table0Id = t0.Id AND t5.table1Id = t1.Id AND t4.table0Id = t0.Id AND t0.attr0 >= 23 AND t0.attr4 >= 1 AND t0.attr4 <= 1920 AND t1.attr2 <= 184.0 AND t1.attr3 >= 44.0 AND t4.attr2 = 15.0 AND t5.attr0 = 8.0;\n'

true cardinality 34, predicted 6.584097235909267 with q-error 5.163957757878492
=====================================================================================
q-error 50% percentile is 3.5103814644540092
q-error 90% percentile is 114.45969920425014
q-error 95% percentile is 4466.2194265204525
q-error 99% percentile is 27593.313600387974
q-error 100% percentile is 31542.88967853371
average latency is 34.54540967941284 ms